@import "variable";
.zx-nav, .zx-nav :has(ul, li) {
  list-style: none;
}

.zx-nav {
  padding-left: 0;
}

.zx-sub-nav-title, .zx-nav-item {
  height: 40px;
}

.zx-sub-nav-title, .zx-nav-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.zx-sub-nav-title {
  display: flex;
  align-items: center;

  > .zx-sub-nav-title-icon {
    min-width: 14px;
    font-size: 14px;
  }

  > .zx-sub-nav-title-content {
    flex: auto;
    margin-left: 10px;
  }

  > .zx-sub-nav-title-arrow {
    font-size: 14px;
  }
}
