$nav-default-outer-spacing: var(--base-size-12, 12px);
$nav-default-inner-spacing: var(--base-size-16, 16px);
$nav-default-icon-size: var(--base-size-24px, 24px);
$nav-default-height: var(--base-size-48, 48px);
