@font-face {
  font-family: "阿里巴巴普惠体 Regular";
  src: url("lPrBw2lqXjUy.woff2") format("woff2"),
  url("lPrBw2lqXjUy.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "阿里巴巴普惠体 Medium";
  src: url("PaSLV45UCFzD.woff2") format("woff2"),
  url("PaSLV45UCFzD.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "阿里巴巴普惠体 Bold";
  src: url("Zi2rWhjdcOsG.woff2") format("woff2"),
  url("Zi2rWhjdcOsG.woff") format("woff");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "AaKaiTi";
  src: url("../font/AaKaiTi.woff2") format("woff2"),
  url("../font/AaKaiTi.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "AlimamaFangYuanTiVF";
  src: url("AlimamaFangYuanTiVF-Thin-2.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "FZKaiTiChaoDaZiFuJi";
  src: url("FZKaiTiChaoDaZiFuJi.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "QingNiaoHuaGuangKaiTi";
  src: url("QingNiaoHuaGuangKaiTi-2.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SanJiKaiShu";
  src: url("SanJiKaiShu-2.woff") format("woff");
  font-display: swap;
}

@import "AaKaiTi/result";
@import "FangZhengKaiTi-GBK/result";
