:root {
  --color-blue-1: #AFC2DB; // 天蓝
  --color-blue-2: #B5D3EB; // 天空蓝
  --color-blue-3: #B9D1E2; // 月光蓝
  --color-blue-5: #9CD6F7; // 澄澈蓝
  --color-blue-4: #80CCE4; // 水洗蓝
  --color-blue-6: #87DDFC; // 晴空蓝
  --color-blue-7: #6DB9E8; // 霁雨蓝
  --color-blue-8: #12A4DE; // 露草色
}
