:root {
  // region 中国色
  --color-rubai: #F9F4DC; // 乳白
  --color-xingrenhuang: #F7E8AA; // 杏仁黄
  --color-molihuang: #F8DF72; // 茉莉黄
  --color-maiganhuang: #F8DF70; // 麦秆黄
  --color-youcaihuahuang: #FBDA41; // 油菜花黄
  --color-foshouhuang: #FED71A; // 佛手黄
  --color-miehuang: #F7DE98; // 篾黄
  --color-kuishanhuang: #F8D86A; // 葵扇黄
  --color-ningmenghuang: #FCD337; // 柠檬黄
  --color-jinguahuang: #FCD217; // 金瓜黄
  --color-tenghuang: #FFD111; // 藤黄
  --color-laohuang: #F6DEAD; // 酪黄
  --color-xiangshuimeiguihuang: #F7DA94; // 香水玫瑰黄
  --color-danmihuang: #F9D367; // 淡密黄
  --color-dadouhuang: #FBCD31; // 大豆黄
  --color-suxinhuang: #FCCB16; // 素馨黄
  --color-xiangrikuihuang: #FECC11; // 向日葵黄
  --color-yalihuang: #FBC82F; // 雅梨黄
  --color-huanglianhuang: #FCC515; // 黄连黄
  --color-jinzhanhuang: #FCC307; // 金盏黄
  --color-dankehuang: #F8C387; // 蛋壳黄
  --color-rouse: #F7C173; // 肉色
  --color-ezhanghuang: #FBB929; // 鹅掌黄
  --color-jidanhuang: #FBB612; // 鸡蛋黄
  --color-youhuang: #FCB70A; // 鼬黄
  --color-liuehuang: #F9A633; // 榴萼黄
  --color-danjucheng: #FBA414; // 淡橘橙
  --color-pipahuang: #FCA106; // 枇杷黄
  --color-chengpihuang: #FCA104; // 橙皮黄
  --color-beiguahuang: #FC8C23; // 北瓜黄
  --color-xinghuang: #F28E16; // 杏黄
  --color-xionghuang: #FF9900; // 雄黄
  --color-wanshoujuhuang: #FB8B05; // 万寿菊黄
  --color-juleibai: #E9DDB6; // 菊蕾白
  --color-qiukuihuang: #EED045; // 秋葵黄
  --color-liuhuahuang: #F2CE2B; // 硫华黄
  --color-youhuang-1: #F1CA17; // 柚黄
  --color-mangguohuang: #DDC871; // 芒果黄
  --color-haohuang: #DFC243; // 蒿黄
  --color-jianghuang: #E2C027; // 姜黄
  --color-xiangjiaohuang: #E4BF11; // 香蕉黄
  --color-caohuang: #D2B42C; // 草黄
  --color-xinhelv: #D2B116; // 新禾绿
  --color-yuehui: #B7AE8F; // 月灰
  --color-danhuilv: #AD9E5F; // 淡灰绿
  --color-caohuilv: #8E804B; // 草灰绿
  --color-tailv: #887322; // 苔绿
  --color-biluochunlv: #867018; // 碧螺春绿
  --color-yanyuhui: #685E48; // 燕羽灰
  --color-xiekehui: #695E45; // 蟹壳灰
  --color-tanshuilv: #645822; // 潭水绿
  --color-ganlanlv: #5E5314; // 橄榄绿
  --color-bangroubai: #F9F1DB; // 蚌肉白
  --color-douzhihuang: #F8E8C1; // 豆汁黄
  --color-danjianhuang: #F9D770; // 淡茧黄
  --color-ruyahuang: #FFC90C; // 乳鸭黄
  --color-liroubai: #F2E6CE; // 荔肉白
  --color-xiangyahuang: #F0D695; // 象牙黄
  --color-chaomihuang: #F4CE69; // 炒米黄
  --color-yingwuguanhuang: #F6C430; // 鹦鹉冠黄
  --color-muguahuang: #F9C116; // 木瓜黄
  --color-qianlaohuang: #F9BD10; // 浅烙黄
  --color-lianzibai: #E5D3AA; // 莲子白
  --color-guhuang: #E8B004; // 谷黄
  --color-zhizihuang: #EBB10D; // 栀子黄
  --color-jiehuang: #D9A40E; // 芥黄
  --color-yinshuhui: #B5AA90; // 银鼠灰
  --color-chenhui: #B6A476; // 尘灰
  --color-kulv: #B78D12; // 枯绿
  --color-jiaoqing: #87723E; // 鲛青
  --color-zongyelv: #876818; // 粽叶绿
  --color-huilv: #8A6913; // 灰绿
  --color-hehui: #4A4035; // 鹤灰
  --color-dansongyan: #4D4030; // 淡松烟
  --color-anhaishuilv: #584717; // 暗海水绿
  --color-zonglvlv: #5B4913; // 棕榈绿
  --color-mise: #F9E9CD; // 米色
  --color-danrouse: #F8E0B0; // 淡肉色
  --color-maiyatanghuang: #F9D27D; // 麦芽糖黄
  --color-hupohuang: #FEBA07; // 琥珀黄
  --color-gancaohuang: #F3BF4C; // 甘草黄
  --color-chushuxinghuang: #F8BC31; // 初熟杏黄
  --color-qiantuose: #E2C17C; // 浅驼色
  --color-shashihuang: #E5B751; // 沙石黄
  --color-hupihuang: #EAAD1A; // 虎皮黄
  --color-tuhuang: #D6A01D; // 土黄
  --color-bailingniaohui: #B4A992; // 百灵鸟灰
  --color-shanjihuang: #B78B26; // 山鸡黄
  --color-guibeihuang: #826B48; // 龟背黄
  --color-canghuang: #806332; // 苍黄
  --color-laiyanglihuang: #815F25; // 莱阳梨黄
  --color-yililv: #835E1D; // 蜴蜊绿
  --color-songshuhui: #4F4032; // 松鼠灰
  --color-ganlanhui: #503E2A; // 橄榄灰
  --color-xiekelv: #513C20; // 蟹壳绿
  --color-gutonglv: #533C1B; // 古铜绿
  --color-jiaochalv: #553B18; // 焦茶绿
  --color-fenbai: #FBF2E3; // 粉白
  --color-luoyingdanfen: #F9E8D0; // 落英淡粉
  --color-guarangfen: #F9CB8B; // 瓜瓤粉
  --color-mihuang: #FBB957; // 蜜黄
  --color-jinyehuang: #FFA60F; // 金叶黄
  --color-jinyinghuang: #F4A83A; // 金莺黄
  --color-lujiaozong: #E3BD8D; // 鹿角棕
  --color-diaoyezong: #E7A23F; // 凋叶棕
  --color-daimaohuang: #DAA45A; // 玳瑁黄
  --color-ruanmuhuang: #DE9E44; // 软木黄
  --color-fengfanhuang: #DC9123; // 风帆黄
  --color-guipidanzong: #C09351; // 桂皮淡棕
  --color-houmaohui: #97846C; // 猴毛灰
  --color-shanjihe: #986524; // 山鸡褐
  --color-tuose: #66462A; // 驼色
  --color-chahe: #5D3D21; // 茶褐
  --color-gutonghe: #5C3719; // 古铜褐
  --color-hehuabai: #FBECDE; // 荷花白
  --color-meiguifen: #F8B37F; // 玫瑰粉
  --color-jucheng: #F97D1C; // 橘橙
  --color-meirenjiaocheng: #FA7E23; // 美人焦橙
  --color-runhong: #F7CDBC; // 润红
  --color-dantaohong: #F6CEC1; // 淡桃红
  --color-hailuocheng: #F0945D; // 海螺橙
  --color-taohong: #F0ADA0; // 桃红
  --color-jiahong: #EEAA9C; // 颊红
  --color-danyingsuhong: #EEA08C; // 淡罂粟红
  --color-chenxihong: #EA8958; // 晨曦红
  --color-xiekehong: #F27635; // 蟹壳红
  --color-jinlianhuacheng: #F86B1D; // 金莲花橙
  --color-caomeihong: #EF6F48; // 草莓红
  --color-longjingyuhong: #EF632B; // 龙睛鱼红
  --color-qingtinghong: #F1441D; // 蜻蜓红
  --color-dahong: #F04B22; // 大红
  --color-shihong: #F2481B; // 柿红
  --color-liuhuahong: #F34718; // 榴花红
  --color-yinzhu: #F43E06; // 银朱
  --color-zhuhong: #ED5126; // 朱红
  --color-guiyuhong: #F09C5A; // 鲑鱼红
  --color-jinhuang: #F26B1F; // 金黄
  --color-lupihe: #D99156; // 鹿皮褐
  --color-zuiguarou: #DB8540; // 醉瓜肉
  --color-jizong: #DE7622; // 麂棕
  --color-danyinhui: #C1B2A3; // 淡银灰
  --color-danzhe: #BE7E4A; // 淡赭
  --color-binglangzong: #C1651A; // 槟榔综
  --color-yinhui: #918072; // 银灰
  --color-haiouhui: #9A8878; // 海鸥灰
  --color-dankafei: #945833; // 淡咖啡
  --color-yanshizong: #964D22; // 岩石棕
  --color-mangguozong: #954416; // 芒果棕
  --color-shibanhui: #624941; // 石板灰
  --color-zhumuhui: #64483D; // 珠母灰
  --color-dingxiangzong: #71361D; // 丁香棕
  --color-kafei: #753117; // 咖啡
  --color-sunpizong: #732E12; // 筍皮棕
  --color-yanhanhong: #FC6315; // 燕颔红
  --color-yufenhong: #E8B49A; // 玉粉红
  --color-jintuo: #E46828; // 金驼
  --color-tiezong: #D85916; // 铁棕
  --color-zhuwanghui: #B7A091; // 蛛网灰
  --color-dankekezong: #B7511D; // 淡可可棕
  --color-zhonghonghui: #8B614D; // 中红灰
  --color-dantuhuang: #8C4B31; // 淡土黄
  --color-dandousha: #873D24; // 淡豆沙
  --color-yekezong: #883A1E; // 椰壳棕
  --color-dantiehui: #5B423A; // 淡铁灰
  --color-zhonghuituo: #603D30; // 中灰驼
  --color-danlizong: #673424; // 淡栗棕
  --color-kekezong: #652B1C; // 可可棕
  --color-zhayezong: #692A1B; // 柞叶棕
  --color-yeqiangweihong: #FB9968; // 野蔷薇红
  --color-boluohong: #FC7930; // 菠萝红
  --color-ouhe: #EDC3AE; // 藕荷
  --color-taocihong: #E16723; // 陶瓷红
  --color-xiaohui: #D4C4B7; // 晓灰
  --color-yujinhong: #CF7543; // 余烬红
  --color-huozhuanhong: #CD6227; // 火砖红
  --color-huonizong: #AA6A4C; // 火泥棕
  --color-ganhong: #A6522C; // 绀红
  --color-xiangshuzong: #773D31; // 橡树棕
  --color-haibaohui: #483332; // 海报灰
  --color-meiguihui: #4B2E2B; // 玫瑰灰
  --color-huoshanzong: #482522; // 火山棕
  --color-dousha: #481E1C; // 豆沙
  --color-danmifen: #FBEEE2; // 淡米粉
  --color-chutaofenhong: #F6DCCE; // 初桃粉红
  --color-jieqiaodanfenhong: #F7CFBA; // 介壳淡粉红
  --color-dancanghuahong: #F6AD8F; // 淡藏花红
  --color-guaranghong: #F68C60; // 瓜瓤红
  --color-furonghong: #F9723D; // 芙蓉红
  --color-meijianghong: #FA5D19; // 莓酱红
  --color-faluohong: #EE8055; // 法螺红
  --color-luoxiahong: #CF4813; // 落霞红
  --color-danmeiguihui: #B89485; // 淡玫瑰灰
  --color-xiemaohong: #B14B28; // 蟹蝥红
  --color-huoyanzong: #863020; // 火岩棕
  --color-zheshi: #862617; // 赭石
  --color-antuozong: #592620; // 暗驼棕
  --color-jiangzong: #5A1F1B; // 酱棕
  --color-lizong: #5C1E19; // 栗棕
  --color-yangshuixianhong: #F4C7BA; // 洋水仙红
  --color-guqiaohong: #F17666; // 谷鞘红
  --color-pingguohong: #F15642; // 苹果红
  --color-tieshuihong: #F5391C; // 铁水红
  --color-guihong: #F25A47; // 桂红
  --color-jiguanghong: #F33B1F; // 极光红
  --color-fenhong: #F2B9B2; // 粉红
  --color-shehong: #F19790; // 舌红
  --color-quhong: #F05A46; // 曲红
  --color-honggonghong: #F23E23; // 红汞红
  --color-danfei: #F2CAC9; // 淡绯
  --color-wuhuaguohong: #EFAFAD; // 无花果红
  --color-liuzihong: #F1908C; // 榴子红
  --color-yanzhihong: #F03F24; // 胭脂红
  --color-hehuanhong: #F0A1A8; // 合欢红
  --color-chunmeihong: #F1939C; // 春梅红
  --color-xiangyehong: #F07C82; // 香叶红
  --color-shanhuhong: #F04A3A; // 珊瑚红
  --color-luobohong: #F13C22; // 萝卜红
  --color-danqianhong: #E77C8E; // 淡茜红
  --color-yanhong: #ED5A65; // 艳红
  --color-danshuhong: #ED4845; // 淡菽红
  --color-yusaihong: #ED3B2F; // 鱼鳃红
  --color-yingtaohong: #ED3321; // 樱桃红
  --color-danruixianghong: #EE4866; // 淡蕊香红
  --color-shizhuhong: #EE4863; // 石竹红
  --color-caomolihong: #EF475D; // 草茉莉红
  --color-chahuahong: #EE3F4D; // 茶花红
  --color-goushuhong: #ED3333; // 枸枢红
  --color-qiuhaitanghong: #EC2B24; // 秋海棠红
  --color-lichunhong: #EB261A; // 丽春红
  --color-xiyanghong: #DE2A18; // 夕阳红
  --color-hedinghong: #D42517; // 鹤顶红
  --color-exueshihong: #AB372F; // 鹅血石红
  --color-fupenzihong: #AC1F18; // 覆盆子红
  --color-diaozi: #5D3131; // 貂紫
  --color-anyuzi: #5C2223; // 暗玉紫
  --color-lizi: #5A191B; // 栗紫
  --color-putaojiangzi: #5A1216; // 葡萄酱紫
  --color-mudanfenhong: #EEA2A4; // 牡丹粉红
  --color-shanchahong: #ED556A; // 山茶红
  --color-haitanghong: #F03752; // 海棠红
  --color-yuhong: #C04851; // 玉红
  --color-gaolianghong: #C02C38; // 高粱红
  --color-manjianghong: #A7535A; // 满江红
  --color-zaohong: #7C1823; // 枣红
  --color-putaozi: #4C1F24; // 葡萄紫
  --color-jiangzi: #4D1018; // 酱紫
  --color-danshuhong-1: #EE2746; // 淡曙红
  --color-tangchangpuhong: #DE1C31; // 唐菖蒲红
  --color-eguanhong: #D11A2D; // 鹅冠红
  --color-meihong: #C45A65; // 莓红
  --color-fengyehong: #C21F30; // 枫叶红
  --color-xiancaihong: #A61B29; // 苋菜红
  --color-yanhong-1: #894E54; // 烟红
  --color-anziyuanhong: #82202B; // 暗紫苑红
  --color-yanhong-2: #82111F; // 殷红
  --color-zhuganzi: #541E24; // 猪肝紫
  --color-jinyuzi: #500A16; // 金鱼紫
  --color-caozhuhong: #F8EBE6; // 草珠红
  --color-danjianghong: #EC7696; // 淡绛红
  --color-pinhong: #EF3473; // 品红
  --color-fengxianhuahong: #EA7293; // 凤仙花红
  --color-fentuanhuahong: #EC9BAD; // 粉团花红
  --color-jiazhutaohong: #EB507E; // 夹竹桃红
  --color-wenpohong: #ED2F6A; // 榲桲红
  --color-jianghong: #EEB8C3; // 姜红
  --color-lianbanhong: #EA517F; // 莲瓣红
  --color-shuihong: #F1C4CD; // 水红
  --color-baochunhong: #EC8AA4; // 报春红
  --color-yuejihong: #CE5777; // 月季红
  --color-jiangdouhong: #ED9DB2; // 豇豆红
  --color-xiaguanghong: #EF82A0; // 霞光红
  --color-songyemudanhong: #EB3C70; // 松叶牡丹红
  --color-xidanhong: #EC2C64; // 喜蛋红
  --color-shubihong: #E3B4B8; // 鼠鼻红
  --color-jianjingyuhong: #CC163A; // 尖晶玉红
  --color-shanlidouhong: #C27C88; // 山黎豆红
  --color-jinkuihong: #BF3553; // 锦葵红
  --color-shubeihui: #73575C; // 鼠背灰
  --color-ganzhezi: #621624; // 甘蔗紫
  --color-shizhuzi: #63071C; // 石竹紫
  --color-cangyinghui: #36282B; // 苍蝇灰
  --color-luanshizi: #30161C; // 卵石紫
  --color-lizi-1: #2B1216; // 李紫
  --color-qiepizi: #2D0C13; // 茄皮紫
  --color-diaozhonghuahong: #CE5E8A; // 吊钟花红
  --color-tuyanhong: #EC4E8A; // 兔眼红
  --color-zijinghong: #EE2C79; // 紫荆红
  --color-caitouzi: #951C48; // 菜头紫
  --color-yaoguanzi: #621D34; // 鹞冠紫
  --color-putaojiuhong: #62102E; // 葡萄酒红
  --color-moshizi: #382129; // 磨石紫
  --color-tanzi: #381924; // 檀紫
  --color-huoezi: #33141E; // 火鹅紫
  --color-mozi: #310F1B; // 墨紫
  --color-jinghong: #EEA6B7; // 晶红
  --color-biandouhuahong: #EF498B; // 扁豆花红
  --color-baijihong: #DE7897; // 白芨红
  --color-nenlinghong: #DE3F7C; // 嫩菱红
  --color-bogenhong: #D13C74; // 菠根红
  --color-cujiangcaohong: #C5708B; // 酢酱草红
  --color-yangcongzi: #A8456B; // 洋葱紫
  --color-haixiangzi: #4B1E2F; // 海象紫
  --color-ganzi: #461629; // 绀紫
  --color-gutongzi: #440E25; // 古铜紫
  --color-shiruihong: #F0C9CF; // 石蕊红
  --color-shaoyaogenghong: #EBA0B3; // 芍药耕红
  --color-canghuahong: #EC2D7A; // 藏花红
  --color-chuhehong: #E16C96; // 初荷红
  --color-mabiancaozi: #EDE3E7; // 马鞭草紫
  --color-dingxiangdanzi: #E9D7DF; // 丁香淡紫
  --color-danzihong: #D2568C; // 丹紫红
  --color-meiguihong: #D2357D; // 玫瑰红
  --color-danqianniuzi: #D1C2D3; // 淡牵牛紫
  --color-fengxinzi: #C8ADC4; // 凤信紫
  --color-luolanzi: #C08EAF; // 萝兰紫
  --color-meiguizi: #BA2F7B; // 玫瑰紫
  --color-tengluozi: #8076A3; // 藤萝紫
  --color-jinzi: #806D9E; // 槿紫
  --color-xunzi: #815C94; // 蕈紫
  --color-jiegengzi: #813C85; // 桔梗紫
  --color-weizi: #7E1671; // 魏紫
  --color-zhilanzi: #E9CCD3; // 芝兰紫
  --color-lingmenghong: #D276A3; // 菱锰红
  --color-longxuhong: #CC5595; // 龙须红
  --color-jifenhong: #E6D2D5; // 蓟粉红
  --color-dianqishihong: #C35691; // 电气石红
  --color-yingcaozi: #C06F98; // 樱草紫
  --color-lusuihui: #BDAEAD; // 芦穗灰
  --color-yinhonghui: #B598A1; // 隐红灰
  --color-xiancaizi: #9B1E64; // 苋菜紫
  --color-luhui: #856D72; // 芦灰
  --color-muyunhui: #4F383E; // 暮云灰
  --color-banjiuhui: #482936; // 斑鸠灰
  --color-dantengluozi: #F2E7E5; // 淡藤萝紫
  --color-danqingzi: #E0C8D1; // 淡青紫
  --color-qinghakezi: #BC84A8; // 青蛤壳紫
  --color-doukouzi: #AD6598; // 豆蔻紫
  --color-biandouzi: #A35C8F; // 扁豆紫
  --color-jiehuazi: #983680; // 芥花紫
  --color-qinglian: #8B2671; // 青莲
  --color-zizi: #894276; // 芓紫
  --color-gejinzi: #7E2065; // 葛巾紫
  --color-qianniuzi: #681752; // 牵牛紫
  --color-zihui: #5D3F51; // 紫灰
  --color-longjingyuzi: #4E2A40; // 龙睛鱼紫
  --color-biqizi: #411C35; // 荸荠紫
  --color-gudinghui: #36292F; // 古鼎灰
  --color-wumeizi: #1E131D; // 乌梅紫
  --color-shenqianniuzi: #1C0D1A; // 深牵牛紫
  --color-yinbai: #F1F0ED; // 银白
  --color-qianshibai: #E2E1E4; // 芡食白
  --color-yuanshanzi: #CCCCD6; // 远山紫
  --color-danlanzi: #A7A8BD; // 淡蓝紫
  --color-shangengzi: #61649F; // 山梗紫
  --color-luodianzi: #74759B; // 螺甸紫
  --color-manaohui: #CFCCC9; // 玛瑙灰
  --color-yejuzi: #525288; // 野菊紫
  --color-mantianxingzi: #2E317C; // 满天星紫
  --color-xinhui: #7A7374; // 锌灰
  --color-yeputaozi: #302F4B; // 野葡萄紫
  --color-jianfengzi: #3E3841; // 剑锋紫
  --color-longkuizi: #322F3B; // 龙葵紫
  --color-anlongdanzi: #22202E; // 暗龙胆紫
  --color-jingshizi: #1F2040; // 晶石紫
  --color-anlanzi: #131124; // 暗蓝紫
  --color-jingtailan: #2775B6; // 景泰蓝
  --color-niluolan: #2474B5; // 尼罗蓝
  --color-yuantianlan: #D0DFE6; // 远天蓝
  --color-xinglan: #93B5CF; // 星蓝
  --color-yushandoulan: #619AC3; // 羽扇豆蓝
  --color-huaqing: #2376B7; // 花青
  --color-jinglan: #5698C3; // 睛蓝
  --color-honglan: #2177B8; // 虹蓝
  --color-hushuilan: #B0D5DF; // 湖水蓝
  --color-qiubolan: #8ABCD1; // 秋波蓝
  --color-jianshilan: #66A9C9; // 涧石蓝
  --color-chaolan: #2983BB; // 潮蓝
  --color-qunqing: #1772B4; // 群青
  --color-jiqing: #63BBD0; // 霁青
  --color-biqing: #5CB3CC; // 碧青
  --color-baoshilan: #2486B9; // 宝石蓝
  --color-tianlan: #1677B3; // 天蓝
  --color-bolinlan: #126BAE; // 柏林蓝
  --color-haiqing: #22A2C3; // 海青
  --color-gulan: #1A94BC; // 钴蓝
  --color-yuanweilan: #158BB8; // 鸢尾蓝
  --color-qianniuhualan: #1177B0; // 牵牛花蓝
  --color-feiyancaolan: #0F59A4; // 飞燕草蓝
  --color-pinlan: #2B73AF; // 品蓝
  --color-yinyubai: #CDD1D3; // 银鱼白
  --color-ananlan: #3170A7; // 安安蓝
  --color-yuweihui: #5E616D; // 鱼尾灰
  --color-jingyuhui: #475164; // 鲸鱼灰
  --color-haishenhui: #FFFEFA; // 海参灰
  --color-shayuhui: #35333C; // 沙鱼灰
  --color-ganglan: #0F1423; // 钢蓝
  --color-yunshuilan: #BACCD9; // 云水蓝
  --color-qingshanlan: #8FB2C9; // 晴山蓝
  --color-dianqing: #1661AB; // 靛青
  --color-dalishihui: #C4CBCF; // 大理石灰
  --color-haitaolan: #15559A; // 海涛蓝
  --color-diechilan: #4E7CA1; // 蝶翅蓝
  --color-haijunlan: #346C9C; // 海军蓝
  --color-shuiniuhui: #2F2F35; // 水牛灰
  --color-niujiaohui: #2D2E36; // 牛角灰
  --color-yanhanlan: #131824; // 燕颔蓝
  --color-yunfengbai: #D8E3E7; // 云峰白
  --color-jingtianlan: #C3D7DF; // 井天蓝
  --color-yunshanlan: #2F90B9; // 云山蓝
  --color-youlan: #1781B5; // 釉蓝
  --color-oulan: #C7D2D4; // 鸥蓝
  --color-tangcilan: #11659A; // 搪磁蓝
  --color-yueyingbai: #C0C4C3; // 月影白
  --color-xinghui: #B2BBBE; // 星灰
  --color-danlanhui: #5E7987; // 淡蓝灰
  --color-yanlan: #144A74; // 鷃蓝
  --color-nenhui: #74787A; // 嫩灰
  --color-zhanjianhui: #495C69; // 战舰灰
  --color-waguanhui: #47484C; // 瓦罐灰
  --color-qinghui: #2B333E; // 青灰
  --color-gelan: #1C2938; // 鸽蓝
  --color-gangqing: #142334; // 钢青
  --color-anlan: #101F30; // 暗蓝
  --color-yuebai: #EEF7F2; // 月白
  --color-haitianlan: #C6E6E8; // 海天蓝
  --color-qingshuilan: #93D5DC; // 清水蓝
  --color-pubulan: #51C4D3; // 瀑布蓝
  --color-weilan: #29B7CB; // 蔚蓝
  --color-kongquelan: #0EB0C9; // 孔雀蓝
  --color-dianzilan: #10AEC2; // 甸子蓝
  --color-shilv: #57C3C2; // 石绿
  --color-zhuhuanglv: #B9DEC9; // 竹篁绿
  --color-fenlv: #83CBAC; // 粉绿
  --color-meidielv: #12AA9C; // 美蝶绿
  --color-maolv: #66C18C; // 毛绿
  --color-koushaolv: #5DBE8A; // 蔻梢绿
  --color-maimiaolv: #55BB8A; // 麦苗绿
  --color-walv: #45B787; // 蛙绿
  --color-tonglv: #2BAE85; // 铜绿
  --color-zhulv: #1BA784; // 竹绿
  --color-lanlv: #12A182; // 蓝绿
  --color-qionghui: #C4D7D6; // 穹灰
  --color-cuilan: #1E9EB3; // 翠蓝
  --color-danfanlan: #0F95B0; // 胆矾蓝
  --color-jianniaolan: #1491A8; // 樫鸟蓝
  --color-shanlan: #7CABB1; // 闪蓝
  --color-bingshanlan: #A4ACA7; // 冰山蓝
  --color-xiakeqing: #869D9D; // 虾壳青
  --color-wanbolan: #648E93; // 晚波蓝
  --color-qingtinglan: #3B818C; // 蜻蜓蓝
  --color-yuqinlan: #126E82; // 玉鈫蓝
  --color-ehui: #737C7B; // 垩灰
  --color-xiayunhui: #617172; // 夏云灰
  --color-canglan: #134857; // 苍蓝
  --color-huanghunhui: #474B4C; // 黄昏灰
  --color-huilan: #21373D; // 灰蓝
  --color-shenhuilan: #132C33; // 深灰蓝
  --color-yuzanlv: #A4CAB6; // 玉簪绿
  --color-qingfanlv: #2C9678; // 青矾绿
  --color-caoyuanyuanlv: #9ABEAF; // 草原远绿
  --color-wuzhilv: #69A794; // 梧枝绿
  --color-langhualv: #92B3A5; // 浪花绿
  --color-haiwanglv: #248067; // 海王绿
  --color-yadinglv: #428675; // 亚丁绿
  --color-niehui: #9FA39A; // 镍灰
  --color-minghui: #8A988E; // 明灰
  --color-danlvhui: #70887D; // 淡绿灰
  --color-feiquanlv: #497568; // 飞泉绿
  --color-langyanhui: #5D655F; // 狼烟灰
  --color-lvhui: #314A43; // 绿灰
  --color-canglv: #223E36; // 苍绿
  --color-shenhailv: #1A3B32; // 深海绿
  --color-changshihui: #363433; // 长石灰
  --color-ganlanl-1: #1F2623; // 苷蓝绿
  --color-mangconglv: #141E1B; // 莽丛绿
  --color-dancuilv: #C6DFC8; // 淡翠绿
  --color-minglv: #9ECCAB; // 明绿
  --color-tianyuanlv: #68B88E; // 田园绿
  --color-cuilv: #20A162; // 翠绿
  --color-danlv: #61AC85; // 淡绿
  --color-conglv: #40A070; // 葱绿
  --color-kongquelv: #229453; // 孔雀绿
  --color-ailv: #CAD3C3; // 艾绿
  --color-chanlv: #3C9566; // 蟾绿
  --color-gongdianlv: #20894D; // 宫殿绿
  --color-songshuanglv: #83A78D; // 松霜绿
  --color-danbaishilv: #579572; // 蛋白石绿
  --color-bohelv: #207F4C; // 薄荷绿
  --color-wasonglv: #6E8B74; // 瓦松绿
  --color-heyelv: #1A6840; // 荷叶绿
  --color-tianluolv: #5E665B; // 田螺绿
  --color-baiqucailv: #485B4D; // 白屈菜绿
  --color-hetunhui: #393733; // 河豚灰
  --color-enyoulv: #373834; // 蒽油绿
  --color-hujishenglv: #2B312C; // 槲寄生绿
  --color-yunshanlv: #15231B; // 云杉绿
  --color-nenjulv: #F0F5E5; // 嫩菊绿
  --color-aibeilv: #DFECD5; // 艾背绿
  --color-jialingshuilv: #ADD5A2; // 嘉陵水绿
  --color-yusuilv: #41B349; // 玉髓绿
  --color-xianlv: #43B244; // 鲜绿
  --color-baoshilv: #41AE3C; // 宝石绿
  --color-haimeilv: #E2E7BF; // 海沬绿
  --color-yaohuang: #D0DEAA; // 姚黄
  --color-ganlanshilv: #B2CF87; // 橄榄石绿
  --color-shuilv: #8CC269; // 水绿
  --color-luweilv: #B7D07A; // 芦苇绿
  --color-huaihuahuanglv: #D2D97A; // 槐花黄绿
  --color-pingguolv: #BACF65; // 苹果绿
  --color-yalv: #96C24E; // 芽绿
  --color-diehuang: #E2D849; // 蝶黄
  --color-ganlanhuanglv: #BEC936; // 橄榄黄绿
  --color-yingwulv: #5BAE23; // 鹦鹉绿
  --color-youlv: #253D24; // 油绿
  --color-xiangyabai: #FFFEF8; // 象牙白
  --color-hanbaiyu: #F8F4ED; // 汉白玉
  --color-xuebai: #FFFEF9; // 雪白
  --color-yudubai: #F7F4ED; // 鱼肚白
  --color-zhenzhuhui: #E4DFD7; // 珍珠灰
  --color-qianhui: #DAD4CB; // 浅灰
  --color-qianhui-1: #BBB5AC; // 铅灰
  --color-zhonghui: #BBB5AC; // 中灰
  --color-wahui: #867E76; // 瓦灰
  --color-yehui: #847C74; // 夜灰
  --color-yanhui: #80766E; // 雁灰
  --color-shenhui: #81776E; // 深灰
  // endregion

  --color-gray-1: #FFFFFF;
  --color-gray-2: #FAFAFA;
  --color-gray-3: #F5F5F5;
  --color-gray-4: #F0F0F0;
  --color-gray-5: #D9D9D9;
  --color-gray-6: #BFBFBF;
  --color-gray-7: #8C8C8C;
  --color-gray-8: #595959;
  --color-gray-9: #434343;
  --color-gray-10: #262626;
  --color-gray-11: #1F1F1F;
  --color-gray-12: #141414;
  --color-gray-13: #000000;

  --color-primary-bg: #E6F4FF;
  --color-primary-bg-hover: #BAE0FF;
  --color-primary-border: #91CAFF;
  --color-primary-border-hover: #69B1FF;
  --color-primary-hover: #4096FF;
  --color-primary: #1677FF;
  --color-primary-active: #0958D9;
  --color-primary-text-hover: #4096FF;
  --color-primary-text: #1677FF;
  --color-primary-text-active: #0958D9;

  --color-success-bg: #F6FFED;
  --color-success-bg-hover: #D9F7BE;
  --color-success-border: #B7EB8F;
  --color-success-border-hover: #95DE64;
  --color-success-hover: #95DE64;
  --color-success: #52C41A;
  --color-success-active: #389E0D;
  --color-success-text-hover: #73D13D;
  --color-success-text: #52C41A;
  --color-success-text-active: #389E0D;

  --color-warning-bg: #FFFBE6;
  --color-warning-bg-hover: #FFF1B8;
  --color-warning-border: #FFE58F;
  --color-warning-border-hover: #FFD666;
  --color-warning-hover: #FFD666;
  --color-warning: #FAAD14;
  --color-warning-active: #D48806;
  --color-warning-text-hover: #FFC53D;
  --color-warning-text: #FAAD14;
  --color-warning-text-active: #D48806;

  --color-error-bg: #FFF2F0;
  --color-error-bg-hover: #FFF1F0;
  --color-error-border: #FFCCC7;
  --color-error-border-hover: #FFA39E;
  --color-error-hover: #FF7875;
  --color-error: #FF4D4F;
  --color-error-active: #D9363E;
  --color-error-text-hover: #FF7875;
  --color-error-text: #FF4D4F;
  --color-error-text-active: #D9363E;

  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-hover);
  --color-link-active: var(--color-primary-active);

  --color-text-base: var(--color-gray-13);
  --color-bg-base: var(--color-gray-1);
  --color-text: rgba(0, 0, 0, 0.88);
  --color-text-secondary: rgba(0, 0, 0, 0.65);
  --color-text-tertiary: rgba(0, 0, 0, 0.45);
  --color-text-quaternary: rgba(0, 0, 0, 0.25);
  --color-border: var(--color-gray-5);
  --color-border-secondary: var(--color-gray-4);
  --color-fill: rgba(0, 0, 0, 0.15);
  --color-fill-secondary: rgba(0, 0, 0, 0.06);
  --color-fill-tertiary: rgba(0, 0, 0, 0.04);
  --color-fill-quaternary: rgba(0, 0, 0, 0.02);
  --color-bg-container: var(--color-gray-1);
  --color-bg-elevated: var(--color-gray-1);
  --color-bg-lyout: var(--color-gray-3);
  --color-bg-spotlight: rgba(0, 0, 0, 0.85);
  --color-bg-mask: rgba(0, 0, 0, 0.45);
}
