#zxa-main {
  position: relative;
  width: 1024px;
  min-height: 100vh;
  margin: 0 auto;

  > header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
  }

  > article {
  }

  > footer {
  }
}
