#zxa-main {
  position: relative;
  height: 100%;

  > header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    border-bottom: 1px solid var(--header-border);
    background: var(--header-bg);
    backdrop-filter: blur(var(--header-blur));
  }

  > article {
    display: grid;
    width: 1024px;
    margin: 0 auto;
    grid-template-columns: 0 1fr;
    padding-top: 64px;

    > aside {
      overflow: hidden auto;
    }

    &.zxa-aside-show {
      grid-template-columns: 200px 1fr;
    }
  }

  > footer {
    border-top: 1px solid var(--header-border);
    height: auto;
  }
}
