#zxa-main {
  position: relative;
  min-height: 100vh;

  > header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    border-bottom: 1px solid var(--header-border);
    background: var(--header-bg);
    backdrop-filter: blur(var(--header-blur));
  }

  > article {
    width: 1024px;
    margin: 0 auto;
  }

  > footer {
    width: 1024px;
    margin: 0 auto;
  }
}
