$base-blue: var(--base-blue, #1677ff);
$base-purple: var(--base-purple, #722ED1);
$base-cyan: var(--base-cyan, #13C2C2);
$base-green: var(--base-green, #52C41A);
$base-magenta: var(--base-magenta, #EB2F96);
$base-pink: var(--base-pink, #EB2F96);
$base-red: var(--base-red, #F5222D);
$base-orange: var(--base-orange, #FA8C16);
$base-yellow: var(--base-yellow, #FADB14);
$base-volcano: var(--base-volcano, #FA541C);
$base-geekblue: var(--base-geekblue, #2F54EB);
$base-gold: var(--base-gold, #FAAD14);
$base-lime: var(--base-lime, #A0D911);
$base-sky: var(--base-sky, #6CBFFF);
$base-white: var(--base-white, #FFFFFF);
$base-gray: var(--base-gray, #BFBFBF);
$base-black: var(--base-black, #000000);
