.zxa-header {
  height: 64px;

  > .zxa-tittle {
    > h1 {
      margin-bottom: 0;

      > a {
        position: relative;
        line-height: 64px;
        padding-inline-start: 40px;
        text-decoration: none;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.88);
        font-weight: bold;
        font-size: 18px;
        font-family: AlibabaPuHuiTi, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
        letter-spacing: -0.18px;
        white-space: nowrap;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        > img {
          height: 32px;
          vertical-align: middle;
          -webkit-margin-end: 12px;
          margin-inline-end: 12px;
        }
      }
    }
  }

  > .zxa-option {
    display: flex;
    align-items: center;

    > .zxa-nav {
      flex: auto;
      text-align: right;
    }

    > .zxa-extend {
      flex: none;
      margin: 0 16px;
    }

    > .zxa-other-link {
      flex: none;
      margin-right: 40px;
    }
  }
}
