section.zxa-app {
  position: relative;
  display: flex;
  overflow: auto;
  flex-direction: row;
  width: 100%;
  min-width: 1280px;
  height: 100%;
  min-height: 720px;

  > .zxa-aside, > .zxa-aside-sub {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    width: auto;
    height: 100vh;
    padding: 5px 5px 10px;
    border-right: 1px solid #F6F5F6;
  }

  > .zxa-aside-sub {
    padding: 32px 0 0 16px;
    width: 256px;
  }

  > .zxa-article {
    flex: auto;

    > .zxa-main {
      min-height: 100vh;
    }
  }
}
