.Debug_grid__6RQw8 {
  --color: var(--color-brand-bg);
  position: fixed;
  inset: 0;
  z-index: var(--layer-debug);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  --content-width: min(var(--page-max-width),calc(100vw - var(--page-padding-left) - var(--page-padding-right)));
  margin: 0 auto;
  width: var(--content-width);
  max-width: var(--page-max-width);
  animation: fadeIn .48s var(--ease-out-quint) forwards
}

.Debug_cursorLine__UONzk {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color);
  will-change: transform
}

.Debug_middleLine__illrw {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  top: 0;
  bottom: 0;
  background: var(--color);
  opacity: 1
}

.Debug_column__SR8er {
  height: 100%;
  opacity: .6;
  box-shadow: -1px 0 0 0 var(--color),1px 0 0 0 var(--color)
}

@media (max-width: 768px) {
  .Debug_column__SR8er:nth-child(n+10) {
    display:none
  }
}

@media (max-width: 640px) {
  .Debug_column__SR8er:nth-child(n+6) {
    display:none
  }
}

.Debug_viewport__00rbv {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  padding: 4px 8px;
  border-radius: var(--rounded-full);
  background: var(--color-text-primary);
  color: var(--color-bg-primary)
}

@font-face {
  font-family: Linear;
  font-weight: 400 800;
  font-display: block;
  src: url(/static/fonts/inter-var-subset-latin-opsz-sep27.woff2) format("woff2")
}

@font-face {
  font-family: Linear;
  font-weight: 400 800;
  font-display: swap;
  font-style: italic;
  src: url(https://static.linear.app/fonts/Inter-italic.var.woff2) format("woff2")
}

*,:after,:before {
  box-sizing: border-box
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

body {
  line-height: 1
}

blockquote,q {
  quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.reset-a {
  text-decoration: none;
  cursor: pointer
}

.reset-a,.reset-button {
  color: inherit;
  outline: none
}

.reset-button {
  cursor: var(--pointer);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  -webkit-tap-highlight-color: transparent
}

.reset-heading {
  margin: 0
}

.reset-li,.reset-ol,.reset-ul {
  margin: 0;
  padding: 0
}

.reset-li {
  list-style: none
}

.reset-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none;
  width: 100%
}

:root {
  --header-height: 48px;
  --header-blur: 12px;
  --header-bg: hsla(0,0%,100%,.01);
  --header-border: hsla(0,0%,100%,.08);
  --page-padding-default: 32px;
  --page-max-width: 1024px;
  --page-padding-left: max(env(safe-area-inset-left),var(--page-padding-default));
  --page-padding-right: max(env(safe-area-inset-right),var(--page-padding-default));
  --page-padding-y: 120px;
  --prose-max-width: 588px;
  --grid-columns: 12;
  --grid-column-gap: 24px;
  --layer-debug: 5100;
  --layer-skip-nav: 5000;
  --layer-tooltip: 1100;
  --layer-toasts: 800;
  --layer-dialog: 700;
  --layer-dialog-overlay: 699;
  --layer-command-menu: 650;
  --layer-popover: 600;
  --layer-context-menu: 600;
  --layer-overlay: 500;
  --layer-header: 100;
  --layer-scrollbar: 75;
  --layer-footer: 50;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-rounded: 9999px;
  --radius-circle: 50%;
  --font-monospace: ui-monospace,"SF Mono","Menlo",monospace;
  --font-regular: "Linear","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
  --font-emoji: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","Twemoji Mozilla","Noto Color Emoji","Android Emoji";
  --font-weight-regular: 400;
  --font-weight-medium: 510;
  --font-weight-semibold: 590;
  --font-weight-bold: 680;
  --speed-highlightFadeIn: 0s;
  --speed-highlightFadeOut: 0.15s;
  --speed-quickTransition: 0.1s;
  --speed-regularTransition: 0.25s;
  --mask-visible: #000;
  --mask-ease: rgba(0,0,0,.2);
  --mask-invisible: transparent;
  --rounded-full: 9999px;
  --transparent: hsla(0,0%,100%,0);
  --min-tap-size: 44px;
  --dvh: 1vh;
  --svh: 1vh;
  --scrollbar-color: hsla(0,0%,100%,.2);
  --scrollbar-color-active: hsla(0,0%,100%,.4);
  --ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);
  --ease-in-cubic: cubic-bezier(0.55,0.055,0.675,0.19);
  --ease-in-quart: cubic-bezier(0.895,0.03,0.685,0.22);
  --ease-in-quint: cubic-bezier(0.755,0.05,0.855,0.06);
  --ease-in-expo: cubic-bezier(0.95,0.05,0.795,0.035);
  --ease-in-circ: cubic-bezier(0.6,0.04,0.98,0.335);
  --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
  --ease-out-cubic: cubic-bezier(0.215,0.61,0.355,1);
  --ease-out-quart: cubic-bezier(0.165,0.84,0.44,1);
  --ease-out-quint: cubic-bezier(0.23,1,0.32,1);
  --ease-out-expo: cubic-bezier(0.19,1,0.22,1);
  --ease-out-circ: cubic-bezier(0.075,0.82,0.165,1);
  --ease-in-out-quad: cubic-bezier(0.455,0.03,0.515,0.955);
  --ease-in-out-cubic: cubic-bezier(0.645,0.045,0.355,1);
  --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
  --ease-in-out-quint: cubic-bezier(0.86,0,0.07,1);
  --ease-in-out-expo: cubic-bezier(1,0,0,1);
  --ease-in-out-circ: cubic-bezier(0.785,0.135,0.15,0.86);
  --mauve-light-1: #fdfcfd;
  --mauve-light-2: #f9f8f9;
  --mauve-light-3: #f4f2f4;
  --mauve-light-4: #eeedef;
  --mauve-light-5: #e9e8ea;
  --mauve-light-6: #e4e2e4;
  --mauve-light-7: #dcdbdd;
  --mauve-light-8: #c8c7cb;
  --mauve-light-9: #908e96;
  --mauve-light-10: #86848d;
  --mauve-light-11: #6f6e77;
  --mauve-light-12: #1a1523;
  --gray-light-1: #fcfcfc;
  --gray-light-2: #f9f9f9;
  --gray-light-3: #f0f0f0;
  --gray-light-4: #e8e8e8;
  --gray-light-5: #e0e0e0;
  --gray-light-6: #d9d9d9;
  --gray-light-7: #cecece;
  --gray-light-8: #bbb;
  --gray-light-9: #8d8d8d;
  --gray-light-10: #838383;
  --gray-light-11: #646464;
  --gray-light-12: #202020;
  --mauve-dark-1: #161618;
  --mauve-dark-2: #1c1c1f;
  --mauve-dark-3: #232326;
  --mauve-dark-4: #28282c;
  --mauve-dark-5: #2e2e32;
  --mauve-dark-6: #34343a;
  --mauve-dark-7: #3e3e44;
  --mauve-dark-8: #504f57;
  --mauve-dark-9: #706f78;
  --mauve-dark-10: #7e7d86;
  --mauve-dark-11: #a09fa6;
  --mauve-dark-12: #ededef;
  --gray-dark-1: #111;
  --gray-dark-2: #191919;
  --gray-dark-3: #222;
  --gray-dark-4: #2a2a2a;
  --gray-dark-5: #313131;
  --gray-dark-6: #3a3a3a;
  --gray-dark-7: #484848;
  --gray-dark-8: #606060;
  --gray-dark-9: #6e6e6e;
  --gray-dark-10: #7b7b7b;
  --gray-dark-11: #b4b4b4;
  --gray-dark-12: #eee;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #4ea7fc;
  --color-red: #eb5757;
  --color-green: #4cb782;
  --color-orange: #f2994a;
  --focus-ring-color: var(--color-brand-bg);
  --focus-ring-width: 2px;
  --focus-ring-offset: 2px;
  --focus-ring-outline: var(--focus-ring-width) solid var(--focus-ring-color);
  --pointer: pointer;
  --font-size-micro: 0.6875rem;
  --font-size-microPlus: 0.6875rem;
  --font-size-mini: 0.75rem;
  --font-size-miniPlus: 0.75rem;
  --font-size-small: 0.8125rem;
  --font-size-smallPlus: 0.8125rem;
  --font-size-regular: 0.9375rem;
  --font-size-regularPlus: 0.9375rem;
  --font-size-large: 1.125rem;
  --font-size-largePlus: 1.125rem;
  --font-size-title1: 2.25rem;
  --font-size-title2: 1.5rem;
  --font-size-title3: 1.25rem
}

@media (dynamic-range:high) or (color-gamut:p3) {
  :root {
    --color-blue: color(display-p3 0.431 0.6816 0.9988);
    --color-red: color(display-p3 0.9454 0.2485 0.2718);
    --color-green: color(display-p3 0.0805 0.7802 0.4606);
    --color-orange: color(display-p3 0.9813 0.5643 0.0102)
  }
}

@supports (height: 1dvh) {
  :root {
    --dvh:1dvh
  }
}

@supports (height: 1svh) {
  :root {
    --svh:1svh
  }
}

@media (max-width: 768px) {
  :root {
    --page-padding-y:48px;
    --grid-columns: 8
  }
}

@media (max-width: 640px) {
  :root {
    --page-padding-default:16px;
    --grid-columns: 4;
    --grid-column-gap: 16px;
    --header-height: 56px
  }
}

[data-theme=dark] {
  color-scheme: dark;
  --color-bg-primary: var(--mauve-dark-1);
  --color-bg-secondary: var(--mauve-dark-2);
  --color-bg-tertiary: var(--mauve-dark-3);
  --color-bg-quaternary: var(--mauve-dark-4);
  --color-bg-quinary: var(--mauve-dark-5);
  --color-border-primary: var(--mauve-dark-5);
  --color-border-secondary: var(--mauve-dark-6);
  --color-border-tertiary: var(--mauve-dark-7);
  --color-text-primary: #f7f8f8;
  --color-text-secondary: #d0d6e0;
  --color-text-tertiary: #8a8f98;
  --color-text-quaternary: #62666d;
  --color-link-primary: #828fff;
  --color-link-hover: #fff;
  --color-brand-bg: #5e6ad2;
  --color-brand-text: #fff;
  --color-selection-text: #fff;
  --color-selection-bg: #4f52b4;
  --color-selection-dim: #4f52b499;
  --color-overlay-dim-rgb: 255,255,255;
  --color-overlay-primary: rgba(0,0,0,.4);
  --color-alpha: 255;
  --shadow-low: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-medium: 0px 4px 24px rgba(0,0,0,.2);
  --shadow-high: 0px 7px 32px rgba(0,0,0,.35);
  --scrollbar-color: hsla(0,0%,100%,.2);
  --scrollbar-color-active: hsla(0,0%,100%,.4);
  --icon-grayscale-image-filter: grayscale(100%) brightness(400%)
}

[data-theme=glass] {
  color-scheme: dark;
  --color-bg-primary: #000212;
  --color-bg-secondary: hsla(0,0%,100%,.03);
  --color-bg-tertiary: hsla(0,0%,100%,.07);
  --color-bg-quaternary: hsla(0,0%,100%,.15);
  --color-bg-quinary: hsla(0,0%,100%,.2);
  --color-border-primary: hsla(0,0%,100%,.08);
  --color-border-secondary: hsla(0,0%,100%,.12);
  --color-border-tertiary: hsla(0,0%,100%,.15);
  --color-text-primary: #f7f8f8;
  --color-text-secondary: #b4bcd0;
  --color-text-tertiary: #b4bcd099;
  --color-text-quaternary: #b4bcd066;
  --color-link-primary: #828fff;
  --color-link-hover: var(--color-text-primary);
  --color-brand-bg: #5e6ad2;
  --color-brand-text: #fff;
  --color-selection-text: #fff;
  --color-selection-bg: #4f52b4;
  --color-selection-dim: #4f52b499;
  --color-overlay-dim-rgb: 255,255,255;
  --color-overlay-primary: rgba(0,0,0,.4);
  --color-alpha: 255;
  --shadow-low: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-medium: 0px 4px 24px rgba(0,0,0,.2);
  --shadow-high: 0px 7px 32px rgba(0,0,0,.35);
  --scrollbar-color: hsla(0,0%,100%,.2);
  --scrollbar-color-active: hsla(0,0%,100%,.4);
  --icon-grayscale-image-filter: grayscale(100%) brightness(400%)
}

[data-theme=light] {
  color-scheme: light;
  --color-bg-primary: #fff;
  --color-bg-secondary: var(--mauve-light-2);
  --color-bg-tertiary: var(--mauve-light-3);
  --color-bg-quaternary: var(--mauve-light-4);
  --color-bg-quinary: var(--mauve-light-5);
  --color-border-primary: var(--mauve-light-5);
  --color-border-secondary: var(--mauve-light-6);
  --color-border-tertiary: var(--mauve-light-7);
  --color-text-primary: #282a30;
  --color-text-secondary: #3c4149;
  --color-text-tertiary: var(--mauve-light-11);
  --color-text-quaternary: var(--mauve-light-10);
  --color-link-primary: #7070ff;
  --color-link-hover: var(--color-text-primary);
  --color-brand-bg: #7070ff;
  --color-brand-text: #fff;
  --color-selection-text: var(--color-brand-text);
  --color-selection-bg: #7070ff;
  --color-selection-dim: #7070ff99;
  --color-overlay-dim-rgb: 0,0,0;
  --color-overlay-primary: hsla(0,0%,100%,.65);
  --color-alpha: 0;
  --shadow-low: 0px 1px 4px -1px rgba(0,0,0,.09);
  --shadow-medium: 0px 3px 12px rgba(0,0,0,.09);
  --shadow-high: 0px 7px 24px rgba(0,0,0,.06);
  --font-weight-regular: 400;
  --font-weight-medium: 510;
  --font-weight-semibold: 590;
  --font-weight-bold: 680;
  --scrollbar-color: rgba(0,0,0,.1);
  --scrollbar-color-active: rgba(0,0,0,.3);
  --icon-grayscale-image-filter: grayscale(100%) brightness(0%)
}

::-moz-selection {
  color: var(--color-selection-text);
  background: var(--color-selection-bg)
}

::selection {
  color: var(--color-selection-text);
  background: var(--color-selection-bg)
}

img::-moz-selection {
  color: var(--color-selection-text);
  background: var(--color-selection-dim)
}

img::selection {
  color: var(--color-selection-text);
  background: var(--color-selection-dim)
}

body,html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  --font-settings: "cv01","ss03";
  font-feature-settings: var(--font-settings);
  --font-variations: "opsz" auto;
  font-variation-settings: var(--font-variations)
}

html {
  font-size: 16px;
  scroll-padding-top: calc(var(--header-height) + 36px)
}

body {
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  overflow-x: hidden
}

html.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

[data-theme=dark] .hide-dark,[data-theme=glass] .hide-dark,[data-theme=light] .hide-light,html.logged-in [data-hide=logged-in],html:not(.logged-in) [data-show=logged-in] {
  display: none
}

@media (max-width: 640px) {
  .hide-mobile {
    display:none!important
  }
}

@media (min-width: 641px) {
  .show-mobile {
    display:none!important
  }
}

@media (max-width: 768px) {
  .hide-tablet {
    display:none!important
  }
}

@media (min-width: 769px) {
  .show-tablet {
    display:none!important
  }
}

@media (max-width: 1024px) {
  .hide-laptop {
    display:none!important
  }
}

@media (min-width: 1025px) {
  .show-laptop {
    display:none!important
  }
}

@media (max-width: 1280px) {
  .hide-desktop {
    display:none!important
  }
}

@media (min-width: 1281px) {
  .show-desktop {
    display:none!important
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0
}

.inert {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.contents {
  display: contents
}

body,button,html,input,optgroup,select,textarea {
  font-family: var(--font-regular)
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit
}

a:not([class]) {
  font-weight: var(--font-weight-medium);
  color: var(--color-link-primary);
  transition: color var(--speed-regularTransition)
}

@media (any-hover: hover) {
  a:not([class]):hover {
    color:var(--color-link-hover)
  }
}

img,svg {
  flex-shrink: 0
}

h1,h2,h3,h4,h5,h6,li,p {
  color: var(--color-text-primary);
  margin: 0
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1rem;
  font-weight: var(--font-weight-medium)
}

li {
  margin-bottom: 8px;
  margin-left: 24px
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid var(--color-border-primary)
}

b,strong {
  font-weight: var(--font-weight-semibold)
}

kbd {
  display: inline-block;
  margin: 0 1px;
  padding: 3px 6px;
  border-radius: 5px;
  min-width: 24px;
  border: 1px solid var(--color-border-tertiary);
  background: var(--color-bg-primary);
  font-size: .8em;
  line-height: normal;
  font-weight: var(--font-weight-medium);
  text-align: center
}

kbd:first-letter {
  text-transform: uppercase
}

code {
  padding: 3px 6px;
  background: var(--color-bg-quaternary);
  border-radius: 5px;
  font-size: .9em
}

code,pre {
  font-family: var(--font-monospace)
}

pre {
  position: relative;
  background: var(--color-bg-secondary);
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
  color: var(--color-text-secondary);
  overflow-x: auto
}

:focus:not(:focus-visible) {
  outline: none
}

:focus-visible {
  outline: var(--focus-ring-outline);
  outline-offset: var(--focus-ring-offset)
}

html:not(.js) button[data-rmiz-btn-open] {
  display: none
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: var(--fadeIn-opacity,1)
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: var(--fadeOut-opacity,0)
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(calc(-1 * var(--fadeDown-amount, 10px)))
  }

  to {
    opacity: 1;
    transform: none
  }
}

.Button_root__Stmhv {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  max-width: 100%;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font: inherit
}

.Button_root__Stmhv:disabled {
  cursor: not-allowed
}

.Button_kind__Z_LDa {
  font-weight: 500;
  font-size: var(--button-font-size);
  line-height: var(--button-height);
  height: var(--button-height);
  gap: var(--button-gap);
  padding: var(--button-padding);
  border-radius: var(--button-corner-radius);
  transition: .16s var(--ease-out-quad);
  transition-property: border,background-color,color,box-shadow,opacity,filter,transform
}

.Button_kind__Z_LDa:disabled {
  opacity: .6
}

.Button_kind__Z_LDa>svg {
  will-change: transform;
  fill: currentColor;
  width: var(--button-icon-size,16px);
  height: var(--button-icon-size,16px)
}

.Button_size-mini__qsCkZ {
  --button-height: 24px;
  --button-icon-size: 12px;
  --button-font-size: 12px;
  --button-corner-radius: var(--rounded-full);
  --button-padding: 0 10px;
  --button-gap: 4px
}

.Button_size-small__sjtMt {
  --button-height: 32px;
  --button-icon-size: 14px;
  --button-font-size: 14px;
  --button-corner-radius: var(--rounded-full);
  --button-padding: 0 12px;
  --button-gap: 4px
}

.Button_size-default__6r2_r {
  --button-height: 40px;
  --button-icon-size: 16px;
  --button-font-size: 15px;
  --button-corner-radius: var(--rounded-full);
  --button-padding: 0 14px;
  --button-gap: 6px
}

.Button_size-large__fvxeb {
  --button-height: 48px;
  --button-icon-size: 18px;
  --button-font-size: 16px;
  --button-corner-radius: var(--rounded-full);
  --button-padding: 0 16px;
  --button-gap: 6px
}

.Button_kind-primary__oPUio {
  border: none;
  color: var(--color-brand-text);
  background: var(--color-brand-bg)
}

@media (any-hover: hover) {
  .Button_kind-primary__oPUio:not([disabled]):hover {
    color:var(--color-brand-text);
    filter: brightness(115%)
  }
}

.Button_kind-primary__oPUio:not([disabled]):active {
  filter: brightness(98%)
}

.Button_kind-secondary__C4t01 {
  background: var(--color-bg-tertiary);
  border: 1px solid var(--color-border-primary);
  color: var(--color-text-primary)
}

@media (any-hover: hover) {
  .Button_kind-secondary__C4t01:not([disabled]):hover {
    border-color:var(--color-border-secondary);
    background: var(--color-bg-quaternary)
  }
}

.Button_kind-secondary__C4t01:not([disabled]):active {
  background: var(--color-bg-quinary);
  border-color: var(--color-border-tertiary)
}

.Button_kind-invert__0xxPi {
  background: var(--color-text-primary);
  color: var(--color-bg-primary)
}

@media (any-hover: hover) {
  .Button_kind-invert__0xxPi:not([disabled]):hover {
    background:var(--color-text-secondary)
  }
}

.Button_kind-invert__0xxPi:not([disabled]):active {
  background: var(--color-text-tertiary)
}

.Button_kind-ghost__STf_T {
  background: transparent;
  color: var(--color-text-primary)
}

@media (any-hover: hover) {
  .Button_kind-ghost__STf_T:not([disabled]):hover {
    color:inherit;
    background: var(--color-bg-tertiary)
  }
}

.Button_kind-ghost__STf_T:not([disabled]):active {
  background: var(--color-bg-quinary)
}

.Flex_root__DOQCW {
  display: flex;
  min-width: 0
}

.Flex_inline__8Gx2p {
  display: inline-flex
}

.Flex_auto__ezENw {
  flex: 1 1 auto
}

.Flex_reverse__7ZfsO {
  flex-direction: row-reverse
}

.Flex_column__eg2kV {
  flex-direction: column
}

.Flex_column__eg2kV.Flex_reverse__7ZfsO {
  flex-direction: column-reverse
}

.Flex_align-flex-start__QBSOx {
  align-items: flex-start
}

.Flex_align-flex-end__giGRQ {
  align-items: flex-end
}

.Flex_align-center__oXK9F {
  align-items: center
}

.Flex_align-baseline__VVH_q {
  align-items: baseline
}

.Flex_align-stretch__dB9Rh {
  align-items: stretch
}

.Flex_justify-flex-start__Mi8ih {
  justify-content: flex-start
}

.Flex_justify-flex-end__FGhIz {
  justify-content: flex-end
}

.Flex_justify-center__GW4P8 {
  justify-content: center
}

.Flex_justify-space-between__Txsv7 {
  justify-content: space-between
}

.Flex_justify-space-around__PplOf {
  justify-content: space-around
}

.Flex_justify-space-evenly__IqwPg {
  justify-content: space-evenly
}

.Flex_wrap__E4ecg {
  flex-wrap: wrap
}

.Flex_center__qqy7h {
  align-items: center;
  justify-content: center
}

.LayoutContent_root__ZBUya {
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  max-width: calc(var(--page-max-width) + var(--page-padding-left) + var(--page-padding-right));
  width: 100%;
  margin: 0 auto
}

.LayoutContent_page__wcmBa {
  margin: var(--page-padding-y) auto
}

.LayoutContent_prose__Eddy0 {
  max-width: var(--prose-max-width);
  padding: 0
}

.Link_root__cNtak {
  text-decoration: none;
  cursor: pointer
}

.Link_kind-none__72aR_ {
  color: currentColor
}

@media (any-hover: hover) {
  .Link_kind-none__72aR_:hover {
    color:currentColor
  }
}

.Link_kind-underline__bJ1jb {
  transition: var(--speed-regularTransition);
  transition-property: text-decoration-color,color;
  text-decoration: underline;
  text-decoration-thickness: clamp(1.5px,.07em,2px);
  text-decoration-color: var(--color-border-tertiary);
  text-underline-offset: 2.5px
}

@media (any-hover: hover) {
  .Link_kind-underline__bJ1jb:hover {
    color:var(--color-text-primary);
    text-decoration-color: var(--color-text-primary)
  }
}

.Link_kind-dimmed__QUE5Y {
  color: var(--color-text-tertiary);
  transition: color var(--speed-quickTransition)
}

.Link_kind-dimmed__QUE5Y[aria-current=page] {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-medium)
}

@media (any-hover: hover) {
  .Link_kind-dimmed__QUE5Y:hover {
    color:var(--color-text-primary)
  }
}

.Link_kind-primary__kvHnq {
  font-weight: var(--font-weight-medium);
  color: var(--color-link-primary);
  transition: color var(--speed-quickTransition)
}

@media (any-hover: hover) {
  .Link_kind-primary__kvHnq:hover {
    color:var(--color-link-hover)
  }
}

.Mailto_copyLink__AXQmI {
  color: var(--color-link-primary);
  font-weight: 500;
  cursor: pointer
}

.Footer_footer__lJt10 {
  position: relative;
  max-width: 100%;
  z-index: var(--layer-footer);
  background: var(--color-bg-primary);
  border-top: 1px solid var(--color-border-primary)
}

.Footer_inner__vHgz_ {
  display: flex;
  flex-wrap: wrap;
  padding-top: 56px;
  padding-bottom: 56px
}

.Footer_left__7jJvA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto
}

@media (max-width: 1024px) {
  .Footer_left__7jJvA {
    width:100%;
    flex-direction: row
  }
}

.Footer_logoWrapper__9IJLI {
  display: flex;
  align-items: center;
  white-space: pre;
  color: var(--color-text-tertiary);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px
}

.Footer_logoWrapper__9IJLI:hover {
  color: var(--color-text-primary)
}

.Footer_logoWrapper__9IJLI svg {
  fill: var(--color-text-primary);
  margin-right: 8px
}

.Footer_section__VUdD6 {
  min-width: min(180px,100%)
}

@media (max-width: 1024px) {
  .Footer_section__VUdD6 {
    min-width:50%;
    margin-top: 40px;
    flex: 1 1
  }
}

.Footer_sectionTitle__PrfeJ {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-text-secondary);
  margin-bottom: 14px
}

.Footer_sectionList__qZ85z {
  padding: 0;
  margin: 0
}

.Footer_sectionItem__lDqAK {
  font-size: 14px;
  list-style-type: none;
  margin: 0
}

.Footer_sectionItem__lDqAK:not(:last-child) {
  margin-bottom: 14px
}

.Footer_anchor__v2aAa {
  white-space: nowrap;
  color: var(--color-text-secondary);
  transition: color 80ms
}

.Footer_anchor__v2aAa:focus,.Footer_anchor__v2aAa:hover {
  color: var(--color-link-primary)
}

.Footer_iconAnchor__YT5wz {
  display: flex;
  transition: color 80ms
}

.Footer_iconAnchor__YT5wz,.Footer_iconAnchor__YT5wz svg path {
  color: var(--color-text-tertiary)
}

.Footer_iconAnchor__YT5wz:hover,.Footer_iconAnchor__YT5wz:hover svg path {
  color: var(--color-text-secondary)
}

.Footer_icons__iLRg0 {
  display: flex;
  align-items: center
}

.Footer_icons__iLRg0>*+* {
  margin-left: 24px
}

@media (max-width: 1024px) {
  .Footer_icons__iLRg0>*+* {
    margin-left:12px
  }
}

.utils_truncate__Oqoey {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.utils_truncateMultiline__u5R8W {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines,1);
  overflow: hidden;
  overflow-wrap: anywhere
}

.utils_hideScrollbars__TzPqp {
  -ms-overflow-style: none!important;
  overflow: -moz-scrollbars-none!important;
  scrollbar-width: none!important
}

.utils_hideScrollbars__TzPqp::-webkit-scrollbar {
  display: none
}

.utils_gradientBorder__9rE2_ {
  position: relative
}

.utils_gradientBorder__9rE2_:before {
  content: "";
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  padding: var(--gradientBorder-size,1px);
  background: var(--gradientBorder-gradient);
  -webkit-mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000);
  mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000);
  -webkit-mask-composite: xor;
  mask-composite: exclude
}

.utils_gradientText__DM4qD {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  color: inherit
}

.Badge_root__c7dKP {
  height: var(--height);
  line-height: normal;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-weight: var(--font-weight-semibold);
  border: 1.5px solid transparent;
  border-radius: 4px;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  --height: 24px;
  font-size: 14px;
  padding: 0 6px;
  border-radius: 5px;
  color: var(--color-brand-text);
  background: var(--color-brand-bg);
  border-color: var(--color-brand-bg)
}

.Badge_size-small__eSU4u {
  --height: 20px;
  font-size: 12px;
  padding: 0 4px;
  border-radius: 4px
}

.Badge_size-large__WpN_K {
  --height: 28px;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 6px
}

.Badge_kind-secondary__pRyPR {
  background: var(--color-border-tertiary);
  color: var(--color-text-primary)
}

.Badge_kind-plus__JvcFa {
  --gradientBorder-gradient: linear-gradient(285.49deg,#bac0cb -14.61%,#767caf 106.06%);
  --gradientBorder-size: 2px;
  background: none;
  border: none;
  color: #a1a7c1
}

.Badge_kind-enterprise__MlkF6 {
  --gradientBorder-gradient: linear-gradient(92.88deg,#be05ff 9.16%,#a954ff 43.89%,#a771ff 64.72%);
  background: none;
  border: none;
  color: #a771ff
}

.Icon_logotype__QxI2T {
  width: var(--width);
  height: auto
}

.Icon_logotype__QxI2T>* {
  fill: inherit
}

.IconButton_root__vP_d_ {
  width: var(--button-height);
  --button-corner-radius: 6px
}

[data-rmiz-wrap=hidden],[data-rmiz-wrap=visible] {
  position: relative;
  display: inline-flex;
  align-items: flex-start
}

[data-rmiz-wrap=hidden] {
  visibility: hidden
}

[data-rmiz-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color
}

[data-rmiz-btn-close],[data-rmiz-btn-open] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

[data-rmiz-btn-open] {
  cursor: zoom-in
}

[data-rmiz-btn-close] {
  cursor: zoom-out
}

[data-rmiz-modal-content] {
  position: absolute;
  transition-property: transform;
  transform-origin: center center
}

.SkipNav_root__DcHPR {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  background: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-size: 14px;
  font-weight: 500;
  z-index: var(--layer-skip-nav);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 16px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0
}

.SkipNav_root__DcHPR:focus {
  box-shadow: 0 0 0 2px var(--color-bg-primary),0 0 0 4px var(--color-brand-bg);
  pointer-events: all;
  transform: none;
  opacity: 1
}

.Layout_container__BVtmP {
  display: flex;
  flex-direction: column;
  width: 100%
}

.Layout_content__PrPCk {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: calc(100 * var(--dvh))
}

header~.Layout_content__PrPCk {
  padding-top: var(--header-height)
}

.Layout_kind-glow__XEQwr {
  background: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(120,119,198,.3),var(--transparent))
}

.LinkAnchor_root__3QL80:focus:after,.LinkAnchor_root__3QL80:hover:after {
  opacity: 1;
  transform: none;
  visibility: visible;
  --visibility-delay: 0s
}

.LinkAnchor_root__3QL80:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 8px;
  transition: opacity .2s,transform .2s,visibility 0s var(--visibility-delay,.2s);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M9.306 10.206a.745.745 0 0 1 .066.977l-.066.076-2.458 2.458a3.228 3.228 0 0 1-4.691-4.431l.126-.133L4.74 6.694a.745.745 0 0 1 1.12.978l-.067.076-2.458 2.458a1.738 1.738 0 0 0 2.353 2.555l.105-.097 2.458-2.458a.745.745 0 0 1 1.054 0ZM9.83 6.17c.29.291.29.763 0 1.054l-2.48 2.48a.745.745 0 1 1-1.054-1.053l2.48-2.48a.745.745 0 0 1 1.054 0Zm3.888-3.887a3.228 3.228 0 0 1 .126 4.431l-.126.133-2.459 2.459a.745.745 0 0 1-1.12-.978l.067-.076 2.458-2.458a1.738 1.738 0 0 0-2.353-2.555l-.105.097-2.458 2.458a.745.745 0 0 1-1.12-.977l.066-.076 2.459-2.458a3.228 3.228 0 0 1 4.565 0Z' fill='%238A8F98'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
}

.Blockquote_root__nK32u {
  position: relative;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.84
}

.Blockquote_root__nK32u:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  border-radius: 4px;
  height: 100%;
  background: var(--color-brand-bg)
}

.Table_root__6i2ZK {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 16px
}

.Table_table__7YO9B {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  border-collapse: separate
}

.Table_thead__uhnFq {
  background-color: var(--color-bg-secondary)
}

.Table_thead__uhnFq tr {
  border-bottom: none
}

.Table_th__3PT0J {
  text-align: left;
  color: var(--color-text-primary);
  padding: 8px 16px;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  --border: 1px solid var(--color-border-primary);
  border: var(--border);
  border-left: none;
  border-right: none;
  --radius: 8px
}

.Table_th__3PT0J:first-child {
  border-left: var(--border);
  border-radius: var(--radius) 0 0 var(--radius)
}

.Table_th__3PT0J:last-child {
  border-right: var(--border);
  border-radius: 0 var(--radius) var(--radius) 0
}

.Table_td__J7a_f {
  color: var(--color-text-secondary);
  padding: 16px;
  border-bottom: 1px solid var(--color-bg-tertiary)
}

.Separator_root__dpDqU {
  background: var(--color-border-primary)
}

.Separator_root__dpDqU[data-orientation=horizontal] {
  height: 1px;
  width: 100%;
  --direction: to right
}

.Separator_root__dpDqU[data-orientation=vertical] {
  width: 1px;
  height: 100%;
  --direction: to bottom
}

.Separator_kind-glass__Iun9g {
  background: rgba(180,188,208,.1)
}

.Separator_kind-skeuo__bbyph {
  background: var(--color-bg-primary);
  box-shadow: 0 1px 0 var(--color-border-secondary)
}

.Separator_kind-fading__D0Sjc {
  --color: rgba(var(--color-alpha),var(--color-alpha),var(--color-alpha),0.1);
  background: linear-gradient(var(--direction),transparent,var(--color) 50%,transparent)
}

.IssueLabel_root__PADxB {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 0 8px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  height: 25px;
  background: var(--color-bg-primary);
  border-radius: var(--radius-rounded);
  border: 1px solid var(--color-border-secondary)
}

.IssueLabel_root__PADxB:before {
  content: "";
  width: 9px;
  height: 9px;
  background: var(--color);
  border-radius: var(--radius-circle);
  flex-shrink: 0
}

.Note_container___fb3A {
  background: var(--color-bg-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 8px;
  padding: 12px 16px
}

.Note_icon__eIBn9 {
  margin-right: 16px;
  flex-shrink: 0
}

.Note_icon__eIBn9 svg {
  margin-top: 1px;
  fill: var(--color-text-primary);
  width: 18px;
  height: 18px
}

.Note_icon__eIBn9 img {
  margin-top: 4px
}

.Note_content__U0H2L p {
  margin: 0
}

.page_inject__sbCGl {
  display: flex
}

.page_inject__sbCGl>svg {
  max-width: 50%;
  height: auto;
  margin: auto
}

.page_action__Zqpjp {
  position: absolute;
  bottom: 12px;
  right: 12px;
  box-shadow: var(--shadow-low);
  opacity: 0;
  transform: translateY(20%);
  transition: .2s;
  transition-property: opacity,transform
}

.page_asset__hZ62o {
  cursor: pointer;
  position: relative;
  background: var(--color-bg-tertiary);
  border: 1px solid var(--color-border-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  flex: 1 1;
  height: 300px
}

.page_asset__hZ62o:hover .page_action__Zqpjp {
  opacity: 1;
  transform: none
}

@media (max-width: 700px) {
  .page_asset__hZ62o {
    height:200px
  }
}

.page_section__yAzYy {
  max-width: 792px;
  margin: 0 auto 96px
}

.page_grid__WbjCZ {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(0,1fr));
  grid-gap: 24px;
  gap: 24px
}

@media (max-width: 700px) {
  .page_grid__WbjCZ {
    grid-template-columns:1fr
  }
}

