.Icon_logotype__QxI2T {
  width: var(--width);
  height: auto
}

.Icon_logotype__QxI2T>* {
  fill: inherit
}

.LayoutContent_root__ZBUya {
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  max-width: calc(var(--page-max-width) + var(--page-padding-left) + var(--page-padding-right));
  width: 100%;
  margin: 0 auto
}

.LayoutContent_page__wcmBa {
  margin: var(--page-padding-y) auto
}

.LayoutContent_prose__Eddy0 {
  max-width: var(--prose-max-width);
  padding: 0
}

.Separator_root__dpDqU {
  background: var(--color-border-primary)
}

.Separator_root__dpDqU[data-orientation=horizontal] {
  height: 1px;
  width: 100%;
  --direction: to right
}

.Separator_root__dpDqU[data-orientation=vertical] {
  width: 1px;
  height: 100%;
  --direction: to bottom
}

.Separator_kind-glass__Iun9g {
  background: rgba(180,188,208,.1)
}

.Separator_kind-skeuo__bbyph {
  background: var(--color-bg-primary);
  box-shadow: 0 1px 0 var(--color-border-secondary)
}

.Separator_kind-fading__D0Sjc {
  --color: rgba(var(--color-alpha),var(--color-alpha),var(--color-alpha),0.1);
  background: linear-gradient(var(--direction),transparent,var(--color) 50%,transparent)
}

[data-rmiz-wrap=hidden],[data-rmiz-wrap=visible] {
  position: relative;
  display: inline-flex;
  align-items: flex-start
}

[data-rmiz-wrap=hidden] {
  visibility: hidden
}

[data-rmiz-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color
}

[data-rmiz-btn-close],[data-rmiz-btn-open] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

[data-rmiz-btn-open] {
  cursor: zoom-in
}

[data-rmiz-btn-close] {
  cursor: zoom-out
}

[data-rmiz-modal-content] {
  position: absolute;
  transition-property: transform;
  transform-origin: center center
}

.Flex_root__DOQCW {
  display: flex;
  min-width: 0
}

.Flex_inline__8Gx2p {
  display: inline-flex
}

.Flex_auto__ezENw {
  flex: 1 1 auto
}

.Flex_reverse__7ZfsO {
  flex-direction: row-reverse
}

.Flex_column__eg2kV {
  flex-direction: column
}

.Flex_column__eg2kV.Flex_reverse__7ZfsO {
  flex-direction: column-reverse
}

.Flex_align-flex-start__QBSOx {
  align-items: flex-start
}

.Flex_align-flex-end__giGRQ {
  align-items: flex-end
}

.Flex_align-center__oXK9F {
  align-items: center
}

.Flex_align-baseline__VVH_q {
  align-items: baseline
}

.Flex_align-stretch__dB9Rh {
  align-items: stretch
}

.Flex_justify-flex-start__Mi8ih {
  justify-content: flex-start
}

.Flex_justify-flex-end__FGhIz {
  justify-content: flex-end
}

.Flex_justify-center__GW4P8 {
  justify-content: center
}

.Flex_justify-space-between__Txsv7 {
  justify-content: space-between
}

.Flex_justify-space-around__PplOf {
  justify-content: space-around
}

.Flex_justify-space-evenly__IqwPg {
  justify-content: space-evenly
}

.Flex_wrap__E4ecg {
  flex-wrap: wrap
}

.Button_root__Stmhv,.Flex_center__qqy7h {
  align-items: center;
  justify-content: center
}

.Button_root__Stmhv {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  max-width: 100%;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font: inherit
}

.Button_root__Stmhv:disabled {
  cursor: not-allowed
}

.Button_kind__Z_LDa {
  font-weight: 500;
  font-size: var(--button-font-size);
  line-height: var(--button-height);
  height: var(--button-height);
  gap: var(--button-gap);
  padding: var(--button-padding);
  border-radius: var(--button-corner-radius);
  transition: .16s var(--ease-out-quad);
  transition-property: border,background-color,color,box-shadow,opacity,filter,transform
}

.Button_kind__Z_LDa:disabled {
  opacity: .6
}

.Button_kind__Z_LDa>svg {
  will-change: transform;
  fill: currentColor;
  width: var(--button-icon-size,16px);
  height: var(--button-icon-size,16px)
}

.Button_size-mini__qsCkZ {
  --button-height: 24px;
  --button-icon-size: 12px;
  --button-font-size: 12px;
  --button-corner-radius: var(--rounded-full);
  --button-padding: 0 10px;
  --button-gap: 4px
}

.Button_size-small__sjtMt {
  --button-height: 32px;
  --button-icon-size: 14px;
  --button-font-size: 14px;
  --button-corner-radius: var(--rounded-full);
  --button-padding: 0 12px;
  --button-gap: 4px
}

.Button_size-default__6r2_r {
  --button-height: 40px;
  --button-icon-size: 16px;
  --button-font-size: 15px;
  --button-corner-radius: var(--rounded-full);
  --button-padding: 0 14px;
  --button-gap: 6px
}

.Button_size-large__fvxeb {
  --button-height: 48px;
  --button-icon-size: 18px;
  --button-font-size: 16px;
  --button-corner-radius: var(--rounded-full);
  --button-padding: 0 16px;
  --button-gap: 6px
}

.Button_kind-primary__oPUio {
  border: none;
  color: var(--color-brand-text);
  background: var(--color-brand-bg)
}

@media (any-hover: hover) {
  .Button_kind-primary__oPUio:not([disabled]):hover {
    color:var(--color-brand-text);
    filter: brightness(115%)
  }
}

.Button_kind-primary__oPUio:not([disabled]):active {
  filter: brightness(98%)
}

.Button_kind-secondary__C4t01 {
  background: var(--color-bg-tertiary);
  border: 1px solid var(--color-border-primary);
  color: var(--color-text-primary)
}

@media (any-hover: hover) {
  .Button_kind-secondary__C4t01:not([disabled]):hover {
    border-color:var(--color-border-secondary);
    background: var(--color-bg-quaternary)
  }
}

.Button_kind-secondary__C4t01:not([disabled]):active {
  background: var(--color-bg-quinary);
  border-color: var(--color-border-tertiary)
}

.Button_kind-invert__0xxPi {
  background: var(--color-text-primary);
  color: var(--color-bg-primary)
}

@media (any-hover: hover) {
  .Button_kind-invert__0xxPi:not([disabled]):hover {
    background:var(--color-text-secondary)
  }
}

.Button_kind-invert__0xxPi:not([disabled]):active {
  background: var(--color-text-tertiary)
}

.Button_kind-ghost__STf_T {
  background: transparent;
  color: var(--color-text-primary)
}

@media (any-hover: hover) {
  .Button_kind-ghost__STf_T:not([disabled]):hover {
    color:inherit;
    background: var(--color-bg-tertiary)
  }
}

.Button_kind-ghost__STf_T:not([disabled]):active {
  background: var(--color-bg-quinary)
}

.Link_root__cNtak {
  text-decoration: none;
  cursor: pointer
}

.Link_kind-none__72aR_ {
  color: currentColor
}

@media (any-hover: hover) {
  .Link_kind-none__72aR_:hover {
    color:currentColor
  }
}

.Link_kind-underline__bJ1jb {
  transition: var(--speed-regularTransition);
  transition-property: text-decoration-color,color;
  text-decoration: underline;
  text-decoration-thickness: clamp(1.5px,.07em,2px);
  text-decoration-color: var(--color-border-tertiary);
  text-underline-offset: 2.5px
}

@media (any-hover: hover) {
  .Link_kind-underline__bJ1jb:hover {
    color:var(--color-text-primary);
    text-decoration-color: var(--color-text-primary)
  }
}

.Link_kind-dimmed__QUE5Y {
  color: var(--color-text-tertiary);
  transition: color var(--speed-quickTransition)
}

.Link_kind-dimmed__QUE5Y[aria-current=page] {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-medium)
}

@media (any-hover: hover) {
  .Link_kind-dimmed__QUE5Y:hover {
    color:var(--color-text-primary)
  }
}

.Link_kind-primary__kvHnq {
  font-weight: var(--font-weight-medium);
  color: var(--color-link-primary);
  transition: color var(--speed-quickTransition)
}

@media (any-hover: hover) {
  .Link_kind-primary__kvHnq:hover {
    color:var(--color-link-hover)
  }
}

.Spacer_root__uoSvA {
  display: block;
  width: 1px;
  height: 1px;
  min-width: 1px;
  min-height: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-top: calc(var(--height, 0px) - 1px);
  margin-left: calc(var(--width, 0px) - 1px)
}

.Mailto_copyLink__AXQmI {
  color: var(--color-link-primary);
  font-weight: 500;
  cursor: pointer
}

.Footer_footer__lJt10 {
  position: relative;
  max-width: 100%;
  z-index: var(--layer-footer);
  background: var(--color-bg-primary);
  border-top: 1px solid var(--color-border-primary)
}

.Footer_inner__vHgz_ {
  display: flex;
  flex-wrap: wrap;
  padding-top: 56px;
  padding-bottom: 56px
}

.Footer_left__7jJvA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto
}

@media (max-width: 1024px) {
  .Footer_left__7jJvA {
    width:100%;
    flex-direction: row
  }
}

.Footer_logoWrapper__9IJLI {
  display: flex;
  align-items: center;
  white-space: pre;
  color: var(--color-text-tertiary);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px
}

.Footer_logoWrapper__9IJLI:hover {
  color: var(--color-text-primary)
}

.Footer_logoWrapper__9IJLI svg {
  fill: var(--color-text-primary);
  margin-right: 8px
}

.Footer_section__VUdD6 {
  min-width: min(180px,100%)
}

@media (max-width: 1024px) {
  .Footer_section__VUdD6 {
    min-width:50%;
    margin-top: 40px;
    flex: 1 1
  }
}

.Footer_sectionTitle__PrfeJ {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-text-secondary);
  margin-bottom: 14px
}

.Footer_sectionList__qZ85z {
  padding: 0;
  margin: 0
}

.Footer_sectionItem__lDqAK {
  font-size: 14px;
  list-style-type: none;
  margin: 0
}

.Footer_sectionItem__lDqAK:not(:last-child) {
  margin-bottom: 14px
}

.Footer_anchor__v2aAa {
  white-space: nowrap;
  color: var(--color-text-secondary);
  transition: color 80ms
}

.Footer_anchor__v2aAa:focus,.Footer_anchor__v2aAa:hover {
  color: var(--color-link-primary)
}

.Footer_iconAnchor__YT5wz {
  display: flex;
  transition: color 80ms
}

.Footer_iconAnchor__YT5wz,.Footer_iconAnchor__YT5wz svg path {
  color: var(--color-text-tertiary)
}

.Footer_iconAnchor__YT5wz:hover,.Footer_iconAnchor__YT5wz:hover svg path {
  color: var(--color-text-secondary)
}

.Footer_icons__iLRg0 {
  display: flex;
  align-items: center
}

.Footer_icons__iLRg0>*+* {
  margin-left: 24px
}

@media (max-width: 1024px) {
  .Footer_icons__iLRg0>*+* {
    margin-left:12px
  }
}

.utils_truncate__Oqoey {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.utils_truncateMultiline__u5R8W {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines,1);
  overflow: hidden;
  overflow-wrap: anywhere
}

.utils_hideScrollbars__TzPqp {
  -ms-overflow-style: none!important;
  overflow: -moz-scrollbars-none!important;
  scrollbar-width: none!important
}

.utils_hideScrollbars__TzPqp::-webkit-scrollbar {
  display: none
}

.utils_gradientBorder__9rE2_ {
  position: relative
}

.utils_gradientBorder__9rE2_:before {
  content: "";
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  padding: var(--gradientBorder-size,1px);
  background: var(--gradientBorder-gradient);
  -webkit-mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000);
  mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000);
  -webkit-mask-composite: xor;
  mask-composite: exclude
}

.utils_gradientText__DM4qD {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  color: inherit
}

.Badge_root__c7dKP {
  height: var(--height);
  line-height: normal;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-weight: var(--font-weight-semibold);
  border: 1.5px solid transparent;
  border-radius: 4px;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  --height: 24px;
  font-size: 14px;
  padding: 0 6px;
  border-radius: 5px;
  color: var(--color-brand-text);
  background: var(--color-brand-bg);
  border-color: var(--color-brand-bg)
}

.Badge_size-small__eSU4u {
  --height: 20px;
  font-size: 12px;
  padding: 0 4px;
  border-radius: 4px
}

.Badge_size-large__WpN_K {
  --height: 28px;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 6px
}

.Badge_kind-secondary__pRyPR {
  background: var(--color-border-tertiary);
  color: var(--color-text-primary)
}

.Badge_kind-plus__JvcFa {
  --gradientBorder-gradient: linear-gradient(285.49deg,#bac0cb -14.61%,#767caf 106.06%);
  --gradientBorder-size: 2px;
  background: none;
  border: none;
  color: #a1a7c1
}

.Badge_kind-enterprise__MlkF6 {
  --gradientBorder-gradient: linear-gradient(92.88deg,#be05ff 9.16%,#a954ff 43.89%,#a771ff 64.72%);
  background: none;
  border: none;
  color: #a771ff
}

.IconButton_root__vP_d_ {
  width: var(--button-height);
  --button-corner-radius: 6px
}

.SkipNav_root__DcHPR {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  background: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-size: 14px;
  font-weight: 500;
  z-index: var(--layer-skip-nav);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 16px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0
}

.SkipNav_root__DcHPR:focus {
  box-shadow: 0 0 0 2px var(--color-bg-primary),0 0 0 4px var(--color-brand-bg);
  pointer-events: all;
  transform: none;
  opacity: 1
}

.Layout_container__BVtmP {
  display: flex;
  flex-direction: column;
  width: 100%
}

.Layout_content__PrPCk {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: calc(100 * var(--dvh))
}

header~.Layout_content__PrPCk {
  padding-top: var(--header-height)
}

.Layout_kind-glow__XEQwr {
  background: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(120,119,198,.3),var(--transparent))
}
