:root {
  --main-min-width: 1280px;
  --main-min-height: 720px;
  --main-padding: 16px;

  --main-aside-width: 224px;
  --main-aside-shadow: 2px 0px 6px var(--color-shadow);

  --main-section-padding: var(--main-padding);

  --main-header-height: 64px;

  --main-footer-height: 56px;
  --main-footer-padding: var(--main-padding);
}
