#nprogress .bar {
  height: 3px;
  background: #2299DD;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--color-blue), 0 0 5px var(--color-blue);
}

#nprogress .spinner-icon {
  border-top-color: var(--color-blue);
  border-left-color: var(--color-blue);
}

.ng-progress-bar .ng-bar {
  background-image: linear-gradient(90deg, var(--hot-pink) 11.42%, var(--hot-red) 34.83%, var(--vivid-pink) 60.69%);
}
