.zxa-footer {
  display: grid;
  width: var(--main-width);
  margin: 0 auto;
  padding: 56px 0;
  color: var(--color-text-tertiary);
  grid-template-columns: 3fr 2fr 2fr 2fr;

  > .zxa-footer-item {
    &:first-of-type {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .zxa-footer-title {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        > .zxa-footer-logo {
          margin-bottom: 14px;
          cursor: pointer;
          user-select: none;

          > img {
            width: auto;
            height: 36px;
          }
        }

        > .zxa-footer-description {
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 14px;
          color: var(--color-text-tertiary);
        }
      }
    }
  }
}
