<article class="first-nav">
  <header class="nav-header">
    <h1>
      <a routerLink="/">
        <div>
          <img [ngSrc]="'assets/header/logo.svg'" title="ZheXian" alt="ZX" width="32" height="32">
        </div>
        <div class="title">ZheXian</div>
      </a>
    </h1>
  </header>
  <section class="nav-section">
    @for (item of navList; track item.link) {
      <div [routerLink]="item.link" class="nav-item" [routerLinkActive]="'nav-item-selected'">
        <div class="nav-item-selected-extend"></div>
        <div class="nav-item-content">
          <span class="nav-icon"><img [ngSrc]="item.icon" [alt]="item.name" width="24" height="24"></span>
          <span class="nav-name">{{ item.name }}</span>
        </div>
      </div>
    }
  </section>
</article>
