<article class="first-nav">
  <header class="nav-header">
    <h1>
      <a routerLink="/">
        <div>
          <img [ngSrc]="'assets/header/logo.svg'" title="ZheXian" alt="ZX" width="32" height="32">
        </div>
        <div class="title">ZheXian</div>
      </a>
    </h1>
  </header>
  <section class="nav-section">
    <div *ngFor="let item of navList" [routerLink]="item.link" class="nav-item"
         [routerLinkActive]="'nav-item-selected'">
      <span class="nav-icon"><img [ngSrc]="item.icon" [alt]="item.name" width="24" height="24"></span>
      <span class="nav-name">{{ item.name }}</span>
    </div>
  </section>
</article>
