:root {
  background-color: #FFFFFF;
  --base-blue: #1677FF;
  --base-purple: #722ED1;
  --base-cyan: #13C2C2;
  --base-green: #52C41A;
  --base-magenta: #EB2F96;
  --base-pink: #EB2F96;
  --base-red: #F5222D;
  --base-orange: #FA8C16;
  --base-yellow: #FADB14;
  --base-volcano: #FA541C;
  --base-geekblue: #2F54EB;
  --base-gold: #FAAD14;
  --base-lime: #A0D911;
  --base-sky: #6CBFFF;
  --base-white: #FFFFFF;
  --base-gray: #BFBFBF;

  // @common-color
  --base-black: #000000;
  --base-red-0: #FFF1F0;
  --base-red-1: #FFCCC7;
  --base-red-2: #FFA39E;
  --base-red-3: #FF7875;
  --base-red-4: #FF4D4F;
  --base-red-5: #F5222D;
  --base-red-6: #CF1322;
  --base-red-7: #A8071A;
  --base-red-8: #820014;
  --base-red-9: #5C0011;
  --base-volcano-0: #FFF2E8;
  --base-volcano-1: #FFD8BF;
  --base-volcano-2: #FFBB96;
  --base-volcano-3: #FF9C6E;
  --base-volcano-4: #FF7A45;
  --base-volcano-5: #FA541C;
  --base-volcano-6: #D4380D;
  --base-volcano-7: #AD2102;
  --base-volcano-8: #871400;
  --base-volcano-9: #610B00;
  --base-orange-0: #FFF7E6;
  --base-orange-1: #FFE7BA;
  --base-orange-2: #FFD591;
  --base-orange-3: #FFC069;
  --base-orange-4: #FFA940;
  --base-orange-5: #FA8C16;
  --base-orange-6: #D46B08;
  --base-orange-7: #AD4E00;
  --base-orange-8: #873800;
  --base-orange-9: #612500;
  --base-gold-0: #FFFBE6;
  --base-gold-1: #FFF1B8;
  --base-gold-2: #FFE58F;
  --base-gold-3: #FFD666;
  --base-gold-4: #FFC53D;
  --base-gold-5: #FAAD14;
  --base-gold-6: #D48806;
  --base-gold-7: #AD6800;
  --base-gold-8: #874D00;
  --base-gold-9: #613400;
  --base-yellow-0: #FEFFE6;
  --base-yellow-1: #FFFFB8;
  --base-yellow-2: #FFFB8F;
  --base-yellow-3: #FFF566;
  --base-yellow-4: #FFEC3D;
  --base-yellow-5: #FADB14;
  --base-yellow-6: #D4B106;
  --base-yellow-7: #AD8B00;
  --base-yellow-8: #876800;
  --base-yellow-9: #614700;
  --base-lime-0: #FCFFE6;
  --base-lime-1: #F4FFB8;
  --base-lime-2: #EAFF8F;
  --base-lime-3: #D3F261;
  --base-lime-4: #BAE637;
  --base-lime-5: #A0D911;
  --base-lime-6: #7CB305;
  --base-lime-7: #5B8C00;
  --base-lime-8: #3F6600;
  --base-lime-9: #254000;
  --base-green-0: #F6FFED;
  --base-green-1: #D9F7BE;
  --base-green-2: #B7EB8F;
  --base-green-3: #95DE64;
  --base-green-4: #73D13D;
  --base-green-5: #52C41A;
  --base-green-6: #389E0D;
  --base-green-7: #237804;
  --base-green-8: #135200;
  --base-green-9: #092B00;
  --base-cyan-0: #E6FFFB;
  --base-cyan-1: #B5F5EC;
  --base-cyan-2: #87E8DE;
  --base-cyan-3: #5CDBD3;
  --base-cyan-4: #36CFC9;
  --base-cyan-5: #13C2C2;
  --base-cyan-6: #08979C;
  --base-cyan-7: #006D75;
  --base-cyan-8: #00474F;
  --base-cyan-9: #002329;
  --base-blue-0: #E6F4FF;
  --base-blue-1: #BAE0FF;
  --base-blue-2: #91CAFF;
  --base-blue-3: #69B1FF;
  --base-blue-4: #4096FF;
  --base-blue-5: #1677FF;
  --base-blue-6: #0958D9;
  --base-blue-7: #003EB3;
  --base-blue-8: #002C8C;
  --base-blue-9: #001D66;
  --base-geekblue-0: #F0F5FF;
  --base-geekblue-1: #D6E4FF;
  --base-geekblue-2: #ADC6FF;
  --base-geekblue-3: #85A5FF;
  --base-geekblue-4: #597EF7;
  --base-geekblue-5: #2F54EB;
  --base-geekblue-6: #1D39C4;
  --base-geekblue-7: #10239E;
  --base-geekblue-8: #061178;
  --base-geekblue-9: #030852;
  --base-purple-0: #F9F0FF;
  --base-purple-1: #EFDBFF;
  --base-purple-2: #D3ADF7;
  --base-purple-3: #B37FEB;
  --base-purple-4: #9254DE;
  --base-purple-5: #722ED1;
  --base-purple-6: #531DAB;
  --base-purple-7: #391085;
  --base-purple-8: #22075E;
  --base-purple-9: #120338;
  --base-magenta-0: #FFF0F6;
  --base-magenta-1: #FFD6E7;
  --base-magenta-2: #FFADD2;
  --base-magenta-3: #FF85C0;
  --base-magenta-4: #F759AB;
  --base-magenta-5: #EB2F96;
  --base-magenta-6: #C41D7F;
  --base-magenta-7: #9E1068;
  --base-magenta-8: #780650;
  --base-magenta-9: #520339;
  --base-grey-0: #A6A6A6;
  --base-grey-1: #999999;
  --base-grey-2: #8C8C8C;
  --base-grey-3: #808080;
  --base-grey-4: #737373;
  --base-grey-5: #666666;
  --base-grey-6: #404040;
  --base-grey-7: #1A1A1A;
  --base-grey-8: #000000;
  // @common-color-end

  // angular 官网颜色
  --base-grey-9: #000000;
  --bright-blue: oklch(51.01% .274 263.83);
  --indigo-blue: oklch(51.64% .229 281.65);
  --electric-violet: oklch(53.18% .28 296.97);
  --french-violet: oklch(47.66% .246 305.88);
  --vivid-pink: oklch(69.02% .277 332.77);
  --hot-pink: oklch(59.91% .239 8.14);
  --hot-red: oklch(61.42% .238 15.34);
  --orange-red: oklch(63.32% .24 31.68);
  --super-green: oklch(79.12% .257 155.13);
  --subtle-purple: color-mix(in srgb, var(--bright-blue) 5%, white 10%);
  --light-blue: color-mix(in srgb, var(--bright-blue), white 50%);
  --light-violet: color-mix(in srgb, var(--electric-violet), white 65%);
  --light-orange: color-mix(in srgb, var(--orange-red), white 50%);
  --light-pink: color-mix(in srgb, var(--vivid-pink) 10%, white 80%);
  --symbolic-purple: oklch(42.86% .29 266.4);
  --symbolic-gray: oklch(66.98% 0 0);
  --symbolic-blue: oklch(42.45% .223 263.38);
  --symbolic-pink: oklch(63.67% .254 13.47);
  --symbolic-orange: oklch(64.73% .23769984683784018 33.18328352127882);
  --symbolic-yellow: oklch(78.09% .163 65.69);
  --symbolic-green: oklch(67.83% .229 142.73);
  --symbolic-cyan: oklch(67.05% .1205924489987394 181.34025902203868);
  --symbolic-magenta: oklch(51.74% .25453048882711515 315.26261625862725);
  --symbolic-teal: oklch(57.59% .083 230.58);
  --symbolic-brown: oklch(49.06% .128 46.41);
  --symbolic-lime: oklch(70.33% .2078857836035299 135.66843631046476);
  --gray-1000: oklch(16.93% .004 285.95);
  --gray-900: oklch(19.37% .006 300.98);
  --gray-800: oklch(25.16% .008 308.11);
  --gray-700: oklch(36.98% .014 302.71);
  --gray-600: oklch(44% .019 306.08);
  --gray-500: oklch(54.84% .023 304.99);
  --gray-400: oklch(70.9% .015 304.04);
  --gray-300: oklch(84.01% .009 308.34);
  --gray-200: oklch(91.75% .004 301.42);
  --gray-100: oklch(97.12% .002 325.59);
  --gray-50: oklch(98.81% 0 0);
  --red-to-pink-horizontal-gradient: linear-gradient(90deg, var(--hot-pink) 11.42%, var(--hot-red) 34.83%, var(--vivid-pink) 60.69%);
  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg, var(--orange-red) 0%, var(--vivid-pink) 50%, var(--electric-violet) 100%);
  --pink-to-highlight-to-purple-to-blue-horizontal-gradient: linear-gradient(140deg, var(--vivid-pink) 0%, var(--vivid-pink) 15%, color-mix(in srgb, var(--vivid-pink), var(--electric-violet) 50%) 25%, color-mix(in srgb, var(--vivid-pink), var(--electric-violet) 10%) 35%, color-mix(in srgb, var(--vivid-pink), var(--orange-red) 50%) 42%, color-mix(in srgb, var(--vivid-pink), var(--orange-red) 50%) 44%, color-mix(in srgb, var(--vivid-pink), var(--page-background) 70%) 47%, var(--electric-violet) 48%, var(--bright-blue) 60%);
  --purple-to-blue-horizontal-gradient: linear-gradient(90deg, var(--electric-violet) 0%, var(--bright-blue) 100%);
  --purple-to-blue-vertical-gradient: linear-gradient(0deg, var(--electric-violet) 0%, var(--bright-blue) 100%);
  --red-to-orange-horizontal-gradient: linear-gradient(90deg, var(--hot-pink) 0%, var(--orange-red) 100%);
  --red-to-orange-vertical-gradient: linear-gradient(0deg, var(--hot-pink) 0%, var(--orange-red) 100%);
  --pink-to-purple-horizontal-gradient: linear-gradient(90deg, var(--vivid-pink) 0%, var(--electric-violet) 100%);
  --pink-to-purple-vertical-gradient: linear-gradient(0deg, var(--electric-violet) 0%, var(--vivid-pink) 100%);
  --purple-to-light-purple-vertical-gradient: linear-gradient(0deg, var(--french-violet) 0%, var(--light-violet) 100%);
  --green-to-cyan-vertical-gradient: linear-gradient(0deg, var(--symbolic-cyan) 0%, var(--super-green) 100%);
  --blue-to-teal-vertical-gradient: linear-gradient(0deg, var(--bright-blue) 0%, var(--light-blue) 100%);
  --blue-to-cyan-vertical-gradient: linear-gradient(0deg, var(--bright-blue) 0%, var(--symbolic-cyan) 100%);
  --black-to-gray-vertical-gradient: linear-gradient(0deg, var(--primary-contrast) 0%, var(--gray-400) 100%);
  --red-to-pink-vertical-gradient: linear-gradient(0deg, var(--hot-red) 0%, var(--vivid-pink) 100%);
  --orange-to-pink-vertical-gradient: linear-gradient(0deg, var(--vivid-pink) 0%, var(--light-orange) 100%);
  --page-bg-radial-gradient: radial-gradient(circle, white 0%, white 100%);
  --soft-pink-radial-gradient: radial-gradient(circle at center bottom, var(--light-pink) 0%, white 80%);
  --full-contrast: black;
  --primary-contrast: var(--gray-900);
  --secondary-contrast: var(--gray-800);
  --tertiary-contrast: var(--gray-700);
  --quaternary-contrast: var(--gray-500);
  --quinary-contrast: var(--gray-300);
  --senary-contrast: var(--gray-200);
  --septenary-contrast: var(--gray-100);
  --octonary-contrast: var(--gray-50);
  --page-background: white;
  --gray-unfilled: var(--gray-400);
  --webgl-page-background: #FFFFFF;
  --webgl-gray-unfilled: #A39FA9;
  --mdc-snackbar-container-shape: .25rem;
  --mdc-snackbar-container-color: var(--page-background);
  --mdc-snackbar-supporting-text-color: var(--primary-contrast);

  // Linear
  --header-bg: hsla(0, 0%, 4%, 0.8);
  --header-border: hsla(0, 0%, 100%, .08);
  --mask-visible: #000000;
  --mask-ease: rgba(0, 0, 0, .2);
  --scrollbar-color: hsla(0, 0%, 100%, .2);
  --scrollbar-color-active: hsla(0, 0%, 100%, .4);
  --mauve-light-1: #FDFCFD;
  --mauve-light-2: #F9F8F9;
  --mauve-light-3: #F4F2F4;
  --mauve-light-4: #EEEDEF;
  --mauve-light-5: #E9E8EA;
  --mauve-light-6: #E4E2E4;
  --mauve-light-7: #DCDBDD;
  --mauve-light-8: #C8C7CB;
  --mauve-light-9: #908E96;
  --mauve-light-10: #86848D;
  --mauve-light-11: #6F6E77;
  --mauve-light-12: #1A1523;
  --gray-light-1: #FCFCFC;
  --gray-light-2: #F9F9F9;
  --gray-light-3: #F0F0F0;
  --gray-light-4: #E8E8E8;
  --gray-light-5: #E0E0E0;
  --gray-light-6: #D9D9D9;
  --gray-light-7: #CECECE;
  --gray-light-8: #BBBBBB;
  --gray-light-9: #8D8D8D;
  --gray-light-10: #838383;
  --gray-light-11: #646464;
  --gray-light-12: #202020;
  --mauve-dark-1: #161618;
  --mauve-dark-2: #1C1C1F;
  --mauve-dark-3: #232326;
  --mauve-dark-4: #28282C;
  --mauve-dark-5: #2E2E32;
  --mauve-dark-6: #34343A;
  --mauve-dark-7: #3E3E44;
  --mauve-dark-8: #504F57;
  --mauve-dark-9: #706F78;
  --mauve-dark-10: #7E7D86;
  --mauve-dark-11: #A09FA6;
  --mauve-dark-12: #EDEDEF;
  --gray-dark-1: #111111;
  --gray-dark-2: #191919;
  --gray-dark-3: #222222;
  --gray-dark-4: #2A2A2A;
  --gray-dark-5: #313131;
  --gray-dark-6: #3A3A3A;
  --gray-dark-7: #484848;
  --gray-dark-8: #606060;
  --gray-dark-9: #6E6E6E;
  --gray-dark-10: #7B7B7B;
  --gray-dark-11: #B4B4B4;
  --gray-dark-12: #EEEEEE;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue: #4EA7FC;
  --color-red: #EB5757;
  --color-green: #4CB782;
  --color-orange: #F2994A;
  --focus-ring-color: var(--color-brand-bg);

  --mask-on: #000000;
  --mask-off: transparent;
}

[data-theme=dark] {
  color-scheme: dark;
  --color-bg-primary: var(--mauve-dark-1);
  --color-bg-secondary: var(--mauve-dark-2);
  --color-bg-tertiary: var(--mauve-dark-3);
  --color-bg-quaternary: var(--mauve-dark-4);
  --color-bg-quinary: var(--mauve-dark-5);
  --color-border-primary: var(--mauve-dark-5);
  --color-border-secondary: var(--mauve-dark-6);
  --color-border-tertiary: var(--mauve-dark-7);
  --color-text-primary: #F7F8F8;
  --color-text-secondary: #D0D6E0;
  --color-text-tertiary: #8A8F98;
  --color-text-quaternary: #62666D;
  --color-link-primary: #828FFF;
  --color-link-hover: #FFFFFF;
  --color-brand-bg: #5E6AD2;
  --color-brand-text: #FFFFFF;
  --color-selection-text: #FFFFFF;
  --color-selection-bg: #4F52B4;
  --color-selection-dim: #4F52B499;
  --color-overlay-dim-rgb: 255, 255, 255;
  --color-overlay-primary: rgba(0, 0, 0, .4);
  --color-alpha: 255;
  --shadow-low: 0px 2px 4px rgba(0, 0, 0, .1);
  --shadow-medium: 0px 4px 24px rgba(0, 0, 0, .2);
  --shadow-high: 0px 7px 32px rgba(0, 0, 0, .35);
  --scrollbar-color: hsla(0, 0%, 100%, .2);
  --scrollbar-color-active: hsla(0, 0%, 100%, .4);
  --icon-grayscale-image-filter: grayscale(100%) brightness(400%)
}

[data-theme=glass] {
  color-scheme: dark;
  --color-bg-primary: #000212;
  --color-bg-secondary: hsla(0, 0%, 100%, .03);
  --color-bg-tertiary: hsla(0, 0%, 100%, .07);
  --color-bg-quaternary: hsla(0, 0%, 100%, .15);
  --color-bg-quinary: hsla(0, 0%, 100%, .2);
  --color-border-primary: hsla(0, 0%, 100%, .08);
  --color-border-secondary: hsla(0, 0%, 100%, .12);
  --color-border-tertiary: hsla(0, 0%, 100%, .15);
  --color-text-primary: #F7F8F8;
  --color-text-secondary: #B4BCD0;
  --color-text-tertiary: #B4BCD099;
  --color-text-quaternary: #B4BCD066;
  --color-link-primary: #828FFF;
  --color-link-hover: var(--color-text-primary);
  --color-brand-bg: #5E6AD2;
  --color-brand-text: #FFFFFF;
  --color-selection-text: #FFFFFF;
  --color-selection-bg: #4F52B4;
  --color-selection-dim: #4F52B499;
  --color-overlay-dim-rgb: 255, 255, 255;
  --color-overlay-primary: rgba(0, 0, 0, .4);
  --color-alpha: 255;
  --shadow-low: 0px 2px 4px rgba(0, 0, 0, .1);
  --shadow-medium: 0px 4px 24px rgba(0, 0, 0, .2);
  --shadow-high: 0px 7px 32px rgba(0, 0, 0, .35);
  --scrollbar-color: hsla(0, 0%, 100%, .2);
  --scrollbar-color-active: hsla(0, 0%, 100%, .4);
  --icon-grayscale-image-filter: grayscale(100%) brightness(400%)
}

[data-theme=light] {
  color-scheme: light;
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: var(--mauve-light-2);
  --color-bg-tertiary: var(--mauve-light-3);
  --color-bg-quaternary: var(--mauve-light-4);
  --color-bg-quinary: var(--mauve-light-5);
  --color-border-primary: var(--mauve-light-5);
  --color-border-secondary: var(--mauve-light-6);
  --color-border-tertiary: var(--mauve-light-7);
  --color-text-primary: #282A30;
  --color-text-secondary: #3C4149;
  --color-text-tertiary: var(--mauve-light-11);
  --color-text-quaternary: var(--mauve-light-10);
  --color-link-primary: #7070FF;
  --color-link-hover: var(--color-text-primary);
  --color-brand-bg: #7070FF;
  --color-brand-text: #FFFFFF;
  --color-selection-text: var(--color-brand-text);
  --color-selection-bg: #7070FF;
  --color-selection-dim: #7070FF99;
  --color-overlay-dim-rgb: 0, 0, 0;
  --color-overlay-primary: hsla(0, 0%, 100%, .65);
  --color-alpha: 0;
  --shadow-low: 0px 1px 4px -1px rgba(0, 0, 0, .09);
  --shadow-medium: 0px 3px 12px rgba(0, 0, 0, .09);
  --shadow-high: 0px 7px 24px rgba(0, 0, 0, .06);
  --font-weight-regular: 400;
  --font-weight-medium: 510;
  --font-weight-semibold: 590;
  --font-weight-bold: 680;
  --scrollbar-color: rgba(0, 0, 0, .1);
  --scrollbar-color-active: rgba(0, 0, 0, .3);
  --icon-grayscale-image-filter: grayscale(100%) brightness(0%)
}
