@font-face {
  font-family: "阿里巴巴普惠体 Regular";
  src: url("../font/lPrBw2lqXjUy.woff2") format("woff2"),
  url("../font/lPrBw2lqXjUy.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "阿里巴巴普惠体 Medium";
  src: url("../font/PaSLV45UCFzD.woff2") format("woff2"),
  url("../font/PaSLV45UCFzD.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "阿里巴巴普惠体 Bold";
  src: url("../font/Zi2rWhjdcOsG.woff2") format("woff2"),
  url("../font/Zi2rWhjdcOsG.woff") format("woff");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "AaKaiTi";
  src: url("../font/AaKaiTi.woff2") format("woff2"),
  url("../font/AaKaiTi.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "AlimamaFangYuanTiVF";
  src: url("../font/AlimamaFangYuanTiVF-Thin-2.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "FZKaiTiChaoDaZiFuJi";
  src: url("../font/FZKaiTiChaoDaZiFuJi.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "QingNiaoHuaGuangKaiTi";
  src: url("../font/QingNiaoHuaGuangKaiTi-2.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SanJiKaiShu";
  src: url("../font/SanJiKaiShu-2.woff") format("woff");
  font-display: swap;
}
